

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Login Page</title>
    <meta charset="utf-8">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript">
$(document).ready(function(){
   var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   btn_background=btn_background.replace(";","")
   $("#submit2").attr('class','w3-btn w3-border w3-large');
   $("#submit2").css('background-color',btn_background);
   $("#submit2").css('color',btn_text);
   error = "{{error}}";
   if (error){
   alert(error);
   }
   $("#language").val("{{language}}").change();
   var lang = $("#language").val();
   if (lang == 'english'){
     $("#password").prev().html('Password');
     $(".checkbox").html($(".checkbox").html().replace('Eingeloggt bleiben','Remember me'));
     }
   else if (lang == 'german'){
     $("#password").prev().html('Passwort');
     $(".checkbox").html($(".checkbox").html().replace('Remember me','Eingeloggt Bleiben'));
   }

   $( "#language" ).change(function() {
       lang = $("#language").val();
       if (lang == 'english'){
       $("#password").prev().html('Password');
       $(".checkbox").html($(".checkbox").html().replace('Eingeloggt bleiben','Remember me'));
       $(".germanhead").css('display','none');
       $(".englishhead").css('display','inline');
       }
       else if (lang == 'german'){
       $("#password").prev().prev().html('Passwort');
       $(".checkbox").html($(".checkbox").html().replace('Remember me','Eingeloggt Bleiben'));
       $(".germanhead").css('display','inline');
       $(".englishhead").css('display','none');
       }
     })
})
</script>
<style>
*{
    box-sizing:border-box;
    }
    .log {
    padding : 0%;
    background-color:rgb( 123, 30,43,0.7);
    color:#fff;
    font-size:75%;
    height:2%;

    }

    .unt {
    background-color:#795548;
    color:#fff;
    margin-top:12%;
    padding : 1%;
    }
    label {
    float: left
}
#email:focus{
    border-radius:10px;

}
#password:focus{
    border-radius:10px;

}
.carousel-inner {
    position: relative;
    width: 103%;
    overflow: hidden;
}
.carousel-control{
    opacity: 0;
}
</style>
<div>
 <div class="log" align="center"></div>
 <div class="col-sm-5" style="background-color:white;height:100%;" >
            <br><br><br>
            <div style="margin-left:5%;rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding=2%">
                <br>
                <div style="margin-left:23%"><br>
                   <img src="{{ url_for('static', filename='images/logo_samarys_cloud.jpg') }}" class="rounded" alt="avkis Logo" style="width:300px;height:158px;" >

                </div>

               <form action="" method="post" class="form" role="form" style="margin:5%;">
                    <br>
                        <input id="csrf_token" name="csrf_token" type="hidden" value="IjRhMGQzODQ2YTNhYjhhNTUyOGY2ZmQxN2U3MzRlYWNiODczMWFmZTki.DkHjdw.urP7ioyuFGCJlJJy2h7EaKb-j80">
                        <div class="col-sm-12 form-group  required">
                               <h3> <label class="control-label" for="email" style="font-family: Calibri;">Email  </label></h3>
                                &nbsp;<input id="email"  class="w3-input w3-border col-sm-8" name="email" required="" height="20%" type="text" value="" style="margin-left:14%;border-radius: 5px;">
                        </div>
                        <div class="col-sm-12 form-group  required">
                                 <h3> <label class="control-label" for="password" style="font-family: Calibri;" >Password</label></h3>
                                  <input id="password"  class="w3-input w3-border col-sm-8" name="password" height="20%" required="" type="password" value="" style="margin-left:4%;border-radius: 5px;">
                        <br>
                        </div>

                        <div class="checkbox col-sm-12">
                          <label>
                            <input id="remember_me" name="remember_me"  type="checkbox" value="y"> Remember Me
                          </label>
                            <br>   <br>   <br>
                        </div>
                   <br>
                   <div style="margin-left:25%">
                        <input class="btn btn-default w3-btn" id="submit2" name="submit" type="submit" value="Log In" style="margin-left:15%">
                   </div>
                    <br>
                </form>
            </div>
            <br>
            <br>

        </div>
 </div>

 <div class="col-sm-7" style="background-color:white;height:99.5%;">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="widht:103%;height:70%;margin-top:15%">

              <div class="item active">
                <img src="{{ url_for('static', filename='images/avkis_new_logo1.jpg') }}" alt="avkis-img1" style="width:106%;height:98%;">

              </div>

              <div class="item">
                <img src="{{ url_for('static', filename='images/avkis_new_logo2.jpg') }}" alt="avkis-img2" style="width:106%;height:98%;">

              </div>

              <div class="item">
                <img src="{{ url_for('static', filename='images/avkis_new_logo3.jpg') }}" alt="avkis-img3" style="width:106%;height:98%;">
              </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" >

            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" >

            </a>
          </div>
        </div>
</div>
<script type="text/javascript">
    var usrnme = "{{ usrnme }}";
    var pwd = "{{ pwd }}";
    if (usrnme){
    $("#email").val(usrnme);
    $("#password").val(pwd);
    $("#remember_me").prop("checked",true);
    }
</script>
{% endblock %}
