{% extends "bootstrap/base.html" %}

{% block title %}AVKIS Web - Seite nicht gefunden{% endblock %}

{% block page_content %}
<div class="page_header">
    <h1>Seite nicht gefunden<h1>
</div>
{% endblock %}
