{% extends "smart_buyer_matching.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis - KI-Suche{% endblock %}

{% block page_content %}
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


<title></title>

<script type="text/javascript">
first_aid=""
var idleTime = 0;
$(document).ready(function(){

   first_aid="{{first_aid}}";
   $("#submit").hide();
   $("#AID").attr('placeholder','Enter Client AID');
   var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#submit,#accurate,#addurl,.btnDelete,#editbtn,#startmatching").css('background-color',btn_background);
   $("#submit,#accurate,#addurl,.btnDelete,#editbtn,#startmatching").css('color',btn_text);
   $("#submit,#accurate,#editbtn,#startmatching").attr({'class':'w3-btn w3-border '});
   $("#submit,#accurate,#editbtn,#startmatching").attr({'font-size':'12px'});
   if ("{{is_admin}}"){
   }
   src="{{screen}}";
   sh="{{showid}}";
   countaid=parseInt("{{aidcount}}");
   countaids=0;

   if(sh=="{}")
   {
   $("#tbUser").hide();
   }
   else{

   $("#tbUser").show();
   }
   if (src=="analysieren")
   {
  $("#startmatching").hide();
   $(".form-group").hide();
   $("#submit").hide();
   var html = $("#aid_display").html();
   $(".log").css("font-size","87%");
   }
   else{
   $("#suchworte").hide();
   $("#suchworte").siblings().hide();
   $(".form-group").show();
   $("#startmatching").show();
   var html = $("#search_criteria").html();
   }
   $("#search_criteria").remove();
   $("#aid_display").remove();

   $(".form").append(html);


    function timerIncrement() {

    idleTime = idleTime + 1;
    if (idleTime > 200) {
        $.ajax({
          type: "GET",
          dataType: 'json',
          async: false,
          cache: false,
          url: "/auto_logout/",
          data:{
          },
          success: function(e){
                              }
    });
        window.location.reload();
    }
    }
    var idleInterval = setInterval(timerIncrement, 60000);
    $(document).mousemove(function(event){
        idleTime = 0;
    });
    $(document).keypress(function(event){
        idleTime = 0;
    });

    $('input[type=file]').change(function () {
        alert(this.files[0].mozFullPath);
    });

   if ("{{autofill_val}}"){

          $("#selectedaidsBody").show();
          $("#suchworte").val("{{autofill_val}}");
          words="{{autofill_val}}";
          words=words.trim();
          wordlist=words.split(" ");
          wordlist.sort()
          countaids=wordlist.length;
          $("#remainingword").html(countaids);
          for (i=0;i<wordlist.length;i++)
           {           word=wordlist[i];
           $("#selectedaid").append("<div class='success1 col-sm-6' ><a onclick='remove_company(this)' class='pgtextssss' id="+word+"rs2"+" color='grey'><span style='float:left;padding-right:3%;color:grey;'><i class='fa fa-times w3-large' style='height:5%;'></i></span></a><p style='float:left;font-family: Calibri;color:black;'><a onclick='id_Page(this)' class='pgtext' color='grey'>&nbsp;  </a><strong><a href='#' data-toggle='tooltip' data-placement='top' onclick='id_Page(this)' class='pgtext' style='font-family: Calibri;color:black;margin-left: 2px;margin-right: -5px;' id='pgno'  title='"+word+"'>"+word+"</a></strong>  &nbsp;&nbsp; </p>&nbsp;&nbsp; </div>");
           }
            if(countaids==15)
       {
          $("#seemore").show();
       }

    }
    else
    {
    $("#remainingword").html(countaids);
     $("#suchworte").hide();
     $("#suchworte").siblings().hide();
    }
    if ("{{autofill_aid}}"){
     $("#AID").val("{{autofill_aid}}");
     $("#AID").css("width","40%");
     $("#AID").css("border-radius","0px");

    }
    if ("{{autofill_name}}"){
    $("#selectedwrdtxt").show();
    $("#AID").siblings().attr('class','temp');
    b="{{autofill_name}}";
    if(b.length>=90)
    {
        shortaidname="";
        aidname="{{autofill_name}}";
        for (i=0;i<aidname.length;i++)
            {
                if(i<23)
                {
                     shortaidname=shortaidname+aidname.charAt(i);
                }
                else
                {
                    if(!shortaidname.includes("..."))
                    {
                    shortaidname=shortaidname+" ...";
                    }
                }
         }

    $(".temp").after( '<span style="float:right;margin-right:25%" data-toggle="tooltip" data-placement="top" title="'+aidname+'"><b style=" font-size: 15px;">'+shortaidname+'</b></span>');
    }else if(b.length>=50 && b.length<90)
     $(".temp").after( '<span style="float:right;margin-right:1%"><b style=" font-size: 15px;">{{autofill_name}}</b></span>');
    else if(b.length>=20 && b.length<50)
    $(".temp").after( '<span style="float:right;margin-right:15%"><b style=" font-size: 15px;">{{autofill_name}}</b></span>');
    else
     $(".temp").after( '<span style="float:right;margin-right:25%;padding-top:4%"><b style=" font-size: 15px;">{{autofill_name}}</b></span>');
 //    $(".temp").append("{{autofill_name}}");
    }
    if ("{{method_details}}"=="accurate")
    {

    $("#submit").before( '<div style="float:left"><br><label>Add manually your own additional relevant keywords (e.g. from the M-AKTE). Separate by a blank space</label><br><textarea rows="4" id="suchworte2"  cols="230" style="margin-bottom:2%;width: 245%;" placeholder="Add your own keywords separated by blank space"></textarea></div><br><br>');
    }
    if ("{{method_details}}"=="faster")
    {
    $("#suchworte").hide();
    $("#suchworte").siblings().hide();
    $("#submit").before( '<div style="float:left"><br><label>Add manually your own additional relevant keywords (e.g. from the M-AKTE). Separate by a blank space</label><br><textarea rows="4" id="suchworte2" cols="230" style="margin-bottom:2%;    width: 245%;" placeholder="Add your own keywords separated by blank space"></textarea></div><br><br>');
    }
   })
$("#seemore").click(function(){
$("#selectedaidsBody").css("max-height","999%");
$("#seemore").hide();
})
function remove_company(word)
{

 $("#"+word.id).parent().remove();
 singleword=word.id
 singleword=singleword.replace("rs2","");
 wordlist.pop(singleword);
   countaids=countaids-1;
  $("#remainingword").html(countaids);
 if(countaids==0)
 {
  $("#selectedwrdtxt").hide();
  }

   a=$("#suchworte").val().trim();
   a=a.replace(singleword,"");
   while(a.indexOf(",")>-1)
   {
    a=  a.replace(","," ")
   }
   $("#suchworte").val(a);

}
</script>

<div id="german">
<div class="page-header" style="    margin: 18px 0 20px;">
    {% if screen == 'analysieren' %}
    <b style="padding-bottom: 9px;margin: 25px 0 4px;border-bottom: 0px solid #eee;font-weight: 700;font-family: Calibri;font-size: 20px;"><b>KEYWORD ANALYSIS - COLLECT</b><br></b>
    <p style="margin: 8px 1px 10px;font-weight:300;">Collect keywords from your selected companies´ websites. You can add manually other websites of well-fitting industry associations, which may contain relevant keywords for keyword collection.
    Samarys will do the matching against the company marked as “Client”, so make sure to point out your Client as such.</p>
    {% else %}
    <b style="padding-bottom: 9px;margin: 25px 0 4px;border-bottom: 0px solid #eee;font-weight: 700;font-family: Calibri;font-size: 20px;"><b>MATCHING - FINALIZE KEYWORDS</b><br></b>
    <p style="margin: 8px 1px 10px; font-weight:300;">This view summarizes your Client ID and all your chosen keywords. Add manually your own additional keywords you might consider relevant (e.g. taken from the MAKTE or the ones the client told you). No need
to use word stems with an asterisc (*). The matching results will improve all the more you input further relevant, unique keywords. Start the matching process.</p>
    {% endif %}
</div>
    <div class="col-sm-12" style="margin-left: -2%;">

   <div class="col-sm-5" style="margin-left: 0%;">
       {{ wtf.quick_form(form) }}
   </div>

        <div class="col-sm-7">
              <a id="startmatching"  href="/001/012/" class="w3-btn w3-border" style="    margin-left: 60%;font-family: Calibri;    padding-left: 4%;font-size: 12px; padding-right: 4%;"><b>START MATCHING PROCESS<br>find firms with similar business activities</b></a>
        </div>
</div>
<div class="aiddetail" style="margin-top:-5.3%">
    <br><br>

 <div id="selectedaidsBody" hidden>
         <label style="margin-left:1.8%;font-size:12px">Your previously selected keywords :</label>
         <div id="selectedaid" style="margin-left: 18px;"  ></div>
     <br>

 </div>
     <br>

    <br>
    <br>
</div>
    <a href="#" id="seemore" hidden style="font-size: 12px;margin-left:1.5%" >See More...</a>
   <br>  <p style="font-size: 12px;margin-left:81%"  id="selectedwrdtxt" HIDDEN ><b >Total Selected Word:</b> <b><span id="remainingword"></span></b></p>

<div class="page-text">
    <p>  <p>
</div>
    </div>
<style>
  #selectedaidsBody {
    width:100%;
    min-width:13%;
    float:left;
    margin-left: -1.5%;
    font-size: 12px;
    margin-bottom:20px;
 //   max-height:125px;
    overflow:hidden;
     }
     .success1 {
   // border-radius: 0 15px 15px 0;
    border: 0.2px solid grey;
    border: 0.2px solid grey;
    background-color: white;
    padding: 5px 10px;
    margin-left: 0.3%;
    font-size: 12px;
    margin-top: 0.5%;
    margin-bottom: 0.7%;
    width: auto;
    height: 5%;
    width: auto;

    }

    #urldisplay{
    margin-top:1%;
    margin-bottom:2%;
     box-shadow:5px 5px 8px #888888, 10px 10px 8px #888888, 15px 15px 8px #888888;
    }
    div{
    font-size:12px;
    }
    .page-header {
    padding-bottom: 9px;
    margin: 25px 0 4px;
    border-bottom: 0px solid #eee;
}
#txturl {
  padding: 12px;
  font-size: 12px;
  border: 0.2px solid grey;
  float: left;
  width: 70%;
  height: 4.5%;
  background: white;
  font-size: 12px;
  margin-top:-5%;
}

#addurl {
  float: left;
  width: 20%;
  height: 4.5%;
  padding:14px;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: -1.4%;
  margin-top:-5%;
      padding:0%;
      font-size: 12px;
}
.hiddenserailnumber{
    display:none;
    }
</style>


<div id="aid_display">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <br>

    {% if screen == 'analysieren' %}

<div class="col-sm-12" style="margin-left:0%;margin-top:0%;margin-right:15%;">
      <div class="col-sm-7">
       </div>
       <div class="col-sm-2"></div>
       <div class="col-sm-3"  style="font-family: Calibri;padding: 1%;padding-left:2%;">
                       <a href="#" id="accurate" style="font-family: Calibri;margin-left: 695%;    margin-top: -20%;font-size: 12px"><b>START KEYWORD COLLECTION</b></a>
       </div>
</div>
<div class="row"  id="tbUser" style=" width:75%; margin-top: 5%;font-size: 12px;">

    <div class="col-sm-12" style="    margin-left: -5px;">
        <table class="w3-table" id="aidtable" style="font-size: 12px;background-color:white;width: 300%;    margin-top: -11%;">
             <tr class="w3-hover-grey" style="width:100%">
                <th style="font-size: 12px;border-bottom:solid 0px;"><b>Client</b></th>
                <th style="font-size: 12px;border-bottom:solid 0px;"><b>Remove</b></th>
                <th  style="font-size: 12px;border-bottom:solid 0px;"><b>AID</b></th>
                <th style="font-size: 12px;border-bottom:solid 0px;"><b>Company Name</b></th>
                 <th style="font-size: 12px;border-bottom:solid 0px;"><b>Website</b></th>
                 <th style="font-size: 12px;border-bottom:solid 0px;" class="crawling_status" ><b>Crawling Status</b></th>
              </tr>
            {% for each in showid %}
              <tr class="w3-hover-grey" style="width:23.33%">
               {% if each == first_aid %}

                <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:3%;"><input type="radio" id='regular' checked="checked" value="{{each}}" name="optradio"></td>
               {% else%}
                    <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:3%;"><input type="radio"   value="{{each}}" name="optradio"></td>
               {% endif %}
                <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:2%;"><input type="button"  value="&#x2718;" class="btnDelete"></td>
                <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;">{{each}}</td>
                <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;">{{ showid[each][0] }}</td>
                 <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;">{{ showid[each][1] }}</td>
                 <td style="font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;" class="crawling_status" id="{{ showid[each][1] | replace('.','') | replace('-','')  }} " >  Waiting</td>
              </tr>
             {% endfor %}

        </table>
    </div>
    <!--div class="col-sm-12" style="margin-left:0%; margin-bottom: 1%;">
           <br>
        <a id="editbtn" href="#" style="font-family: Calibri;font-size: 12px;padding: 1%;padding-left: 5%;padding-right:5%;"><b>&nbsp;&nbsp;Edit List&nbsp;</b>&nbsp;</a><br><br><br><br>

    </div-->

<</div>
    <br>
    <div class="col-sm-12" style="margin-left:-3.5%; margin-bottom: 1%;">


        <input type="text" id="txturl" placeholder="Search by Company or AID">
        <a id="addurl" href="#" style="font-family: Calibri;font-size: 12px;padding:10px;height: 3%;margin-left:2.4%; margin-top:-5%;"><b>&nbsp;&nbsp;Add Comp</b>&nbsp;</a>

    </div>

<div class="col-sm-12" style="margin-left:0%; margin-bottom: 1%;">
           <br>

    </div>
{% endif %}
</div>
        <table  cellspacing="0" hidden  id="company_data_table" data-toggle="table" data-url="{{ url_for('main.company_data_detail') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[50, 100, 200,500]" data-query-params="queryParams"
        data-page-size="50" style="margin-left:1.5%;">
    <thead style="background:#2196f3; overflow-y: auto;position: relative;">
        <tr class="w3-hover-grey"  style="font-size: 12px;font-family: Calibri; color: black;">
              <th  data-field="index" data-formatter="indexN" class="hiddenserailnumber" style="font-size: 12px;font-family: Calibri; color: black;display: none !important;">serial number</th>
            <th data-field="AID" data-sortable="false"  data-formatter="LinkFormatter" style="    margin-left: 10%;outline:none;" ><b>Aid</b></th>
            <th  data-field="Entity_Last_Name" data-formatter="LinkFormatter1" data-sortable="false" style="font-size: 12px;font-family: Calibri; color: black;align:center;"><b>Company</b></th>
            <th  data-field="State"><b>Town , State</b></th>
            <th  data-field="website" data-formatter="WebsiteFormatter"  ><b> Website</b></th>
            <th  data-field="Mainbranchcode" ><b> Main Branch Code</b></th>
            <th  data-field="Mainbranchtext" ><b>Main Branch Text</b></th>
        </tr>
    </thead>
    </table>
<script type="text/javascript">
var btn_background = "{{ btn_background }}";
var btn_text = "{{ btn_text}}";
dataindex=0;
temppagesize=0;
{% if screen == 'analysieren' %}
   $('title').html('Keyword Analysis Company');
   {% else %}
   $('title').html('Client');
   {% endif %}

function get_url(){
$.ajax
    ({
      type: "POST",
      dataType: 'json',
      async: false,
      cache: false,
      url: "/urlprint/",

       success: function(e)
                           {
                              crawlingstatus=String(e.currenturl);
                              if(String(crawlingstatus)!= "undefined"){
                                  crawling=crawlingstatus.split(" ");
                                  website=crawling[0];
                                  website=String(website);
                                   if (website)
                                   {
                                         sam=String(crawling[1]);
                                         if (sam.indexOf("Crawling")>-1){
                                         $("#"+website).html("<i class='fa fa-spinner fa-spin'></i> Crawling");
                                         }
                                         else{
                                         $("#"+website).text(String(crawling[1]));
                                         }
                                   }
                               }
                           }
    });
}
function queryParams(params) {
       if($("#txturl").val())
       {
        params.search = $("#txturl").val().trim();
        }

        return params;
}

function WebsiteFormatter(params)
{
if(params=="None")
{
final="-";
return final;
}
if (params)
{
params=params.replace("<b>","").replace("</b>","");
final = "<a href='http://"+params+"'  target='_blank' title='"+params+"' ><span class='material-icons' style='color:black;'>&#xe894;</span></a>";
          return final;
}
else
{
final="";
return final;
}
}
j=0;

function process_ids(aidname,chk,obj)
     {
aid_list=$("#AID").val();
add_info="<tr class='w3-hover-grey' style='width:23.33%'><td style='font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:3%;'><input type='radio' name='optradio'></td><td style='font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:2%;'><input type='button'  value='&#x2718;' class='btnDelete' style='background-color:"+btn_background+";color:"+btn_text+"'></td><td style='font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;'>"+obj+"</td><td style='font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;'>"+chk.parentNode.nextSibling.firstChild.innerText+"</td><td style='font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;'>"+chk.parentNode.nextSibling.nextSibling.nextSibling.firstChild.title+"</td><td style='font-size: 12px;font-family: Calibri;border:solid 0px;padding-left:1%;display:none' class='crawling_status' id=' ' >  Waiting</td></tr>"
     $("#aidtable").append(add_info)

        j=j+1;
        shortaidname="";
        frdaidname=aidname;
        for (i=0;i<aidname.length;i++)
            {
                if(i<23)
                {
                     shortaidname=shortaidname+aidname.charAt(i);
                }
                else
                {
                    if(!shortaidname.includes("..."))
                    {
                    shortaidname=shortaidname+" ...";
                    }
                }
         }

        if($(chk).prop("checked") == true)
            {

                 if (String(aid[0])=="undefined")
                 {
                 limit=0
                 }
                 else{
                 limit=aid.length;
                  }

                 if(limit<5)
                 {
                    shortaidname=shortaidname.replace("</b>",'').replace("<b>",'');
                    while(aidname.indexOf("<b>")>-1)
                    {
                     aidname=aidname.replace("</b>",'').replace("<b>",'');
                    }
                    obj=obj.replace("</b>",'').replace("<b>",'');
                    aid[limit]=obj.replace("</b>",'').replace("<b>",'');
                    aidpgno[limit]=chk.parentNode.parentNode.firstChild.innerHTML;
                    //aidpgno[limit]=allaids.indexOf(parseInt(obj));              //storing the index of aids from alladis
                    pagesize=$(".active").children().html();
                    if($(".form-control").val()!="" )
                      {
                            pagesize=temppagesize;
                      }
                    else
                       {
                         temppagesize=pagesize;
                       }

                         //$("#selectedaid").append("<div class='success col-sm-4' id="+obj+"><a onclick='remove_company(this)' class='pgtextssss' id="+obj+"rs"+" color='#2799d2'><span style='float:left;padding-right:3%;'><i class='fa fa-times w3-large' style='height:5%;color:black;'></i></span></a><p style='float:left;font-family: Calibri;color:black;'><a onclick='id_Page(this)' class='pgtext' color='#2799d2'>&nbsp;  </a><strong><a href='#' data-toggle='tooltip' data-placement='top' onclick='id_Page(this)' class='pgtext' style='font-family: Calibri;color:black;font-size: 12px;' id='pgno'  title='"+aidname+"'>"+shortaidname+"</a></strong>  &nbsp;&nbsp; </p>&nbsp;&nbsp; </div>");
                       for (i=0;i<aid.length;i++)
                       {
                       $("div").each(function(){
                           if(typeof($(this).attr("id"))!="undefined" && $(this).attr("id")==aid[i])
                           {   //$(this).find("#pgno").html("");
                               dv=String(String(aidpgno[i]/pagesize).split(".")[1])
                               if (dv=="undefined")
                                   dv="9"
                               if(dv.charAt(0)>4)
                               {
                                  $(this).find("#pgno").addClass(String(parseInt((aidpgno[i]/pagesize).toFixed())));
                               }
                               else
                               {
                                  $(this).find("#pgno").addClass(String(parseInt((aidpgno[i]/pagesize).toFixed())+1));
                               }
                               //$(this).find("#pgno").append(aidpgno[i]);
                               if(typeof($(this).find(".pgtext").attr("id"))=="undefined")
                               {
                                 $(this).find(".pgtext").attr("id",obj);
                               }

                           }
                       });

                    }
                    chk.setAttribute("class","chk");
                    //$(".form-control").val("");
                    aid_list=aid_list+" "+ obj;
                    $("#AID").val(aid_list);
                    $("#ip2").val("");
                    $(".fixed-table-body").css('height','0%');
                    $("#company_data_table").hide();
                    $("#company_data_table").bootstrapTable('refresh');
                    $('#company_data_table').bootstrapTable('resetSearch', "");
                 //   $("#company_data_table").bootstrapTable('selectPage',1);
                 if(limit>0)
                 {
                 $("#faster").hide();
                 }
            }
            if (limit >=5 )
                {
                      if(limit>1)
                     {
                      $("#faster").hide();
                     }
                      alert("You can select only 5 Aid's");
                        $(chk).prop('checked', false);
                        var index = aid.indexOf(obj);
                        if (index > -1) {
                                   aid.splice(index, 1);
                                   aidpgno.splice(index, 1);
                        }
                        chk.removeAttribute("class","chk");


                        $(".form-control").val("");
                        $("#ip2").val("");
                        $(".fixed-table-body").css('height','0%');
                        $("#company_data_table").hide();
                        $("#company_data_table").bootstrapTable('refresh');
                         $('#company_data_table').bootstrapTable('resetSearch', "");
                      //  $("#company_data_table").bootstrapTable('selectPage',1);
                        limit=limit-1;
                }
            limit=limit+1;
        }

        else if($(chk).prop("checked") == false)
            {
               limit=limit-1;
               var index = aid.indexOf(obj);
               chk.removeAttribute("class","chk");
               $("div #"+obj).remove();

               $(".form-control").val("");
               $("#ip2").val("");
               $(".fixed-table-body").css('height','0%');
               $("#company_data_table").hide();
               $("#company_data_table").bootstrapTable('refresh');
                $('#company_data_table').bootstrapTable('resetSearch', "");
            //   $("#company_data_table").bootstrapTable('selectPage',1);
               if (index > -1)
                   {
                      aid.splice(index, 1);
                      aidpgno.splice(index, 1);
                   }
                   if(limit<=1)
                   {
                    $("#faster").show()
                   }
            }
     }
function LinkFormatter(entity_name)
     {


       // final = "<input type='radio' name='aidselect' onclick='process_ids(this.parentNode.nextSibling.nextSibling.innerHTML)' class='search_ids' value='"+entity_name+"'/>&nbsp;"+entity_name;
          entity_names=String(entity_name).replace("<b>",'').replace("</b>",'');

          url="'/company_report/"+entity_names+"'"
          final = "<input type='checkbox' name='aidselect' id='"+String(entity_names)+"ck"+"' onclick='process_ids(this.parentNode.nextSibling.firstChild.innerHTML,this,this.value)' class='search_ids' value='"+entity_name+"'/>&nbsp;"+entity_name;
          return final;
     }

function LinkFormatter1(entity_name){
entity_data = "<l data-toggle='modal' data-target='#detail_form' onclick='set_data(this)'>"+entity_name+"</l>";
return entity_data;
}

function status_change(website,status){
$(".crawling_status").each(function(){
temp=this.id;
if(temp==website)
{
$("#"+website).text(status);

}
});
}
$(document).ready(function(){
direct="{{direct}}";
entered_website='';
$(".error").hide();
$(".crawling_status").each(function(){
temp=this.id;
while(temp.indexOf(".")>-1)
{
temp=temp.replace(".",'');
}
while(temp.indexOf(" ")>-1)
{
temp=temp.replace(" ",'');
temp=temp.trim();
}
$(this).attr('id',temp);
});
$(".crawling_status").hide();
error = "{{error}}";
  if(countaid>=5)
   {
   $("#addurl").hide();
   $("#txturl").hide();
   }
if(error && direct == "NO"){
alert("No AID found. Please Enter Proper AID.");
}
z=0;
$("#editbtn").click(function(){

selectedaid=$("#AID").val();
 var select_final = "{{ url_for('main.company_data_1') }}?aids="+selectedaid;
 $("#editbtn").attr("href",select_final);
})
$('#addurl').click(function() {

   newwebsite=$("#txturl").val();
  var re = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
      if(newwebsite && countaid<5)
   {
    if (!re.test(newwebsite)) {
    aid=new Array(6);
    aidpgno=new Array(6);
if($("#txturl").val())
{

    $("#company_data_table").show();
    $(".fixed-table-body").css('height','150%');
    $("#company_data_table").bootstrapTable('refresh');
            for (k=0;k<aid.length; k++ )
              {
              $('#'+aid[k]+'ck').prop('checked', true);
              $('#'+aid[k]+'ck').attr('checked','checked');
              }
}
else
{
                    $("#company_data_table").hide();
                    $("#company_data_table").bootstrapTable('refresh');
                    $('#company_data_table').bootstrapTable('resetSearch', "");
}
   }else{
   $("#tbUser").show();

   if(newwebsite.indexOf("www.")==-1)
   {
   if(newwebsite.indexOf("www")==0)
   {
   newwebsite=newwebsite.replace("www","");
   newwebsite="www."+newwebsite;

   }else{
    newwebsite="www."+newwebsite;
    }
   }
   newwebsiteid=newwebsite;
   while(newwebsiteid.indexOf(".")>-1)
  {
newwebsiteid=newwebsiteid.replace(".",'');
 }
   $('#aidtable tbody').append('<tr class=" w3-hover-grey" style="width:33.33%" ><td style="font-family: Calibri;border:solid 0px;padding-left:2%;"></td><td style="font-family: Calibri;border:solid 0px;padding-left:2%;"><input type="button"  value="&#x2718;" class="btnDelete" style="background-color:{{ btn_background }};color:{{ btn_text}} "></td><td style="font-family: Calibri;border:solid 0px;padding-left:1%;"></td><td style="font-family: Calibri;border:solid 0px;padding-left:1%;" ></td><td style="font-family: Calibri;border:solid 0px;padding-left:1%;">'+newwebsite+'</td><td style="font-family: Calibri;border:solid 0px;padding-left:1%;" class="crawling_status" id="'+newwebsiteid+'" hidden>  Waiting</td></tr>');
   $(".crawling_status").hide();
   if(entered_website=='')
   {
   entered_website=newwebsite
   }else{
   entered_website=entered_website+" "+newwebsite
   }
   countaid=countaid+1;
    if(countaid>=5)
   {
   $("#addurl").hide();
   $("#txturl").hide();
   }
   }
   }
   else{
   if(countaid>=5)
   {
   alert("You can select only 5 Websites For Keyword Collection");
   $("#addurl").hide();
   $("#txturl").hide();
   }
   }
   $("#txturl").val("");
});

$("#startmatching").click(function(){
              //  morewords=$("#morewords").val();
                morewords=$(".pgtext").text().trim();
                autofill_aid=$("#AID").val();
                encryp_aid='';


                         $.ajax({
                  type: "GET",
                  dataType: 'json',
                  async: false,
                  cache: false,
                  url: "/encrypt_aid/",
                  data:{ aid:autofill_aid
                  },
                  success: function(e){
                  encryp_aid=e.cipher_text
                                      }
            });
                autofill_val=$("#suchworte2").val();
                if(!autofill_val)
                {
                    autofill_val="";
                 }
                 else
                 {
                 autofill_val=autofill_val.trim()+" "+morewords;
                 }
                if (autofill_val==" ")
                {
                    autofill_val=''
                }
                var select_final = "/001/012/?autofill_val="+autofill_val+"&autofill_aid="+encryp_aid+"&formsubmit="+"True";
                $("#startmatching").attr("href",select_final);
                $("#submit").click()
})
$("#accurate").click(function(){
                debugger;
                $(".crawling_status").show();
                AID=$("#AID").val();
                selectedaid= $("input[name='optradio']:checked").val();
                while(AID.indexOf(",")!=-1)
                    {
                       AID=AID.replace(","," ");
                    }

    encryp_aid='';


                         $.ajax({
                  type: "GET",
                  dataType: 'json',
                  async: false,
                  cache: false,
                  url: "/encrypt_aid/",
                  data:{ aid:AID.replace(" ",",")
                  },
                  success: function(e){
                  encryp_aid=e.cipher_text
                                      }
            });
                var select_final = "/001/011/?enteredwebsite="+entered_website+"&selectedaid="+encryp_aid+"&autofill_aid="+encryp_aid+"&formsubmit="+"True"+"&method_details="+"accurate";

                $("#accurate").attr("href",select_final);

$("#submit").click()
})
$("#faster").click(function(){
selectedaid= $("input[name='optradio']:checked").val();
 var selecteditems = "";
 var select_final = "{{ url_for('main.ki_suche') }}?autofill_val="+selecteditems+"&autofill_aid="+selectedaid+"&method_details="+"faster";
 $("#faster").attr("href",select_final);
})

 $("#submit").click(function(){
 $("#urldisplay").show();
 {% if screen == 'analysieren' %}
    setInterval(get_url,60000);
 {% endif %}
 });

 $("#tbUser").on('click','.btnDelete',function(){
    debugger;
       aids=this.parentNode.nextElementSibling.innerText;
       a=$("#AID").val();
       $('input:radio[name=optradio]')[z].checked = true;
       $(this).closest('tr').remove();
       z+=1;
       if(z==3)
       {z=0;}
      $("#AID").val(a.replace(aids,""));
       countaid=countaid-1;
       if(countaid<5){
        $("#addurl").show();
   $("#txturl").show();
       }

  });
});

</script>










<div id="search_criteria">
    {% if screen != 'analysieren' %}
<div class="row" hidden>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
<input type="checkbox" name="Berlin_state" value="Berlin">&nbsp;&nbsp;BERLIN<br>
<input type="checkbox" name="Nordrhein-Westfalen_state" value="Nordrhein-Westfalen">&nbsp;&nbsp;NORDRHEIN-WESTFALEN<br>
<input type="checkbox" name="Brandenburg_state" value="Brandenburg">&nbsp;&nbsp;BRANDENBURG<br>
<input type="checkbox" name="Baden-Württemberg_state" value="Baden-Württemberg">&nbsp;&nbsp;BADEN-WURTTEMBERG<br>
<input type="checkbox" name="Bayern_state" value="Bayern">&nbsp;&nbsp;BAYERN<br>
<input type="checkbox" name="hamburg_state" value="Hamburg">&nbsp;&nbsp;HAMBURG<br>
<input type="checkbox" name="Niedersachsen_state" value="Niedersachsen">&nbsp;&nbsp;NIEDERSACHSEN<br>
<input type="checkbox" name="Hessen_state" value="Hessen">&nbsp;&nbsp;HESSEN
</div>
<div class="col-sm-6">
<input type="checkbox" name="Rheinland-Pfalz_state" value="Rheinland-Pfalz">&nbsp;&nbsp;RHEINLAND-PFALZ<br>
<input type="checkbox" name="Sachsen_state" value="Sachsen">&nbsp;&nbsp;SACHSEN<br>
<input type="checkbox" name="Schleswig-Holstein_state" value="Schleswig-Holstein">&nbsp;&nbsp;SCHLESWIG-HOLSTEIN<br>
<input type="checkbox" name="saarland_state" value="Saarland">&nbsp;&nbsp;SAARLAND<br>
<input type="checkbox" name="Bremen_state" value="Bremen">&nbsp;&nbsp;BREMEN<br>
<input type="checkbox" name="Mecklenburg-Vorpommern_state" value="Mecklenburg-Vorpommern">&nbsp;&nbsp;MECKLENBURG-VORPOMMERN<br>
<input type="checkbox" name="Sachsen-Anhalt_state" value="Sachsen-Anhalt">&nbsp;&nbsp;SACHSEN-ANHALT<br>
<input type="checkbox" name="thuringia_state" value="Thüringen">&nbsp;&nbsp;TH&UumlRINGEN
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <b><u>YEAR</u> :<br><br>
            {% for each_year in last_5_years %}
            <input type="checkbox" value={{each_year}} name={{"years"+each_year}}>{{each_year}}
            {% endfor %}
            <br><br>
            <input type="radio" name="all_any" value="all" checked>ALL
            <input type="radio" name="all_any" value="any" >ANY
        <br><br>
        &nbsp;&nbsp;<b><u>VERKAUFEN</u></b>
        <br><br>
              FROM RANGE&nbsp;&nbsp;<input type="text" value="" name="from_range_umsatz" id="from_range_umsatz"><br><br>
        TO RANGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" name="to_range_umsatz" id="to_range_umsatz">

        </b>
    </div>
    <br><br>
    <div class="col-sm-3">
        &nbsp;&nbsp;<b><u>MITARBEITER</u></b>
        <br><br>
    FROM RANGE&nbsp;&nbsp;<input type="text" value="" name="from_range_mitarbeiter" id="from_range_mtarbeiter"><br><br>
        TO RANGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="" name="to_range_mitarbeiter" id="to_range_mtarbeiter">
        </div>
</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
