{% extends "base_apps.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - All Apps{% endblock%}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>ALL APPS</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br><br><br><br>
<div class="row" style="width:120%;margin-top:5%;margin-left:20%">

    {% if user.smart_buyer_matching == "1" %}
    <div class="col-sm-2">
<a href="/001/010/"data-toggle="tooltip" title="Matches companies by similarity of business activity to your client & generates a list of  matching companies ranked with descending matching index
Buyer!"><l class="rc">Smart Buyer Search</l>
        <!--l class="rc">Lists all buyers´ search profiles in public buyers portals (e.g. nexxt-change.) You can contact all matching buyers at once via an automated and personalized emai</l-->
        </div>


    {% endif %}
{% if user.buyer_portal_search == "1" %}
    <div class="col-sm-2">
<a href="/002/"data-toggle="tooltip" title="Lists all buyers´ search profiles in public buyers portals (e.g. nexxt-change.) You can contact all matching buyers at once via an automated and personalized email!"><l class="rc">Buyer Portal Search</l></a>
        <!--l class="rc">Matches companies by similarity of business activity to your client & generates a list of  matching companies ranked with descending matching index
Buyer </l-->
    </div>
    {% endif %}
    {% if user.manual_company_search == "1" %}
    <div class="col-sm-2">
<a href="/003/010/"data-toggle="tooltip" title="Allows you to search for companies. You can list,   view & print reports of individual companies"><l class="rc">Single Company View</l></a>
        <!--lclass="rc">Allows you to search for companies. You can list,   view & print reports of individual companies </l-->
    </div>
    {% endif %}
</div>
<!--a href="/buyer_portal_search/"><l class="rc" id="bps">Buyer Portal Search</l></a><br>
<a href="/manual_company_search/"><l class="rc" id="cr">Manual Company Search</l></a><br-->

<script type="text/javascript">
$(document).click(function(evt){
 if(evt.target.classList.contains("abc")){
 }
 else{
 $(".admin_tab_list").slideUp();
} }
 )
</script>

<style type="text/css">
    .rc {

          background-color:rgb( 123, 30,43,0.7);
          color:black;
          font-size:120%;
          background-position: left top;
          background-repeat: repeat;
          padding: 5%;
          width: 100%;
          height: 70px;
          border-style:solid;
          overflow:scroll
  }
</style>
{% endblock %}