{% extends "smart_buyer_matching.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Nexxt change Filter{% endblock%}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript">
    </script>
    <style>
        .modal-content {
            background-color: #f1f1f1;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width:105%; /* Could be more or less, depending on screen size */
            height:30%;
            padding:2%;
        }
    </style>
    <div class="w3-container">
    <div class="w3-container col-lg-12 well modal-content  animate" id="single_file_upload" hidden>
      <form action="/single_file_upload" style="align:center;" method="post" enctype="multipart/form-data">
          <div class="col-sm-8">
              <br>
              <br>
          <input class="w3-input " name="onefile" type="file"></input>
           <br>
              </div>
          <div align="center">
              <br>
              <br>
           <button  class="w3-btn w3-black btnclick">Datenübernahme aus Datei</button><br><br>
          </div>
      </form>

    </div>
    <div class="w3-container">
    <div class="w3-container col-lg-12 well modal-content  animate" id="files_upload" hidden>
    <form action="/files_upload" method="post" enctype="multipart/form-data">
        <div class="col-sm-8">
              <br>
              <br>
        <input class="w3-input" id="flup" type="file" name="multiplefiles" onchange="getfolder(event)" webkitdirectory  multiple>
        </input>
        <br>
        </div>
           <div align="center">
              <br>
              <br>
        <button class="w3-btn w3-black btnclick">Datenübernahme aus Verzeichnis</button><br><br>
           </div>
    </form>
    </div>
    </div>
    <div class="w3-container" HIDDEN>
    <form action="/Datenbank-Update" method="post" enctype="multipart/form-data">
       <button class="w3-btn w3-black">Datenbank-Update</button><br><br>
    </form>
    </div>
    <div class="w3-container" hidden>
    <form action="/Update_TFIDF" method="post" enctype="multipart/form-data">
       <button class="w3-btn w3-black">Update TFIDF</button><br>
    </form>
    </div>
    </div>
    <div class="w3-container" >
    <div class="w3-container col-lg-12 well modal-content  animate" id="dispaly_output"  >
        <h3>Task Report</h3>
        <textarea id="op" rows="10" cols="100"></textarea>
    </div>
    </div>




<script type="text/javascript">
function get_output(){
$.ajax
    ({
      type: "POST",
      dataType: 'json',
      async: false,
      cache: false,
      url: "/taskreport/",

       success: function(e)
                           {
                            $("#op").append("  "+ e.outputshow+"\n");
                           }


    });
}
$(document).ready(function(){
     content_display={{show_entity}};
     if(content_display=="2.3")
     {
     $("#files_upload").hide();
     $("#single_file_upload").show();
     }
     if(content_display=="2.4")
     {
     $("#files_upload").show();
     $("#single_file_upload").hide();
     }
     if(content_display=="2.5")
     {
     $("#dispaly_output").show();
     $("#single_file_upload").hide();
     }

     if(content_display=="2.6")
     {
     $("#dispaly_output").show();
     $("#single_file_upload").hide();
     }

     $(".btnclick").click(function() {
      $("#dispaly_output").show();
     //  setInterval(get_output, 125);
     });
});
function getfolder(e) {
    var files = e.target.files;
    var path = files[0].webkitRelativePath;
    var Folder = path.split("/");
    //alert(Folder[0]);
}
</script>
<style>
textarea {
    overflow-y: scroll;
    height: 200px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
</style>
{% endblock %}