﻿﻿
<!DOCTYPE html>
<html>
  <head>
    <title>AVKIS-Web - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
      <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>


    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.autocomplete.js') }}"></script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.autocomplete.css') }}">




  </head>
  <body>

{% block navbar %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">

function googleTranslateElementInit() {
  new google.translate.TranslateElement({}, 'google_translate_element1');
}

$(document).ready(function(){
    $( ".export_option" ).click(function() {
    $(".export_option_list").slideDown();
    })

    $( ".crawl_list" ).click(function() {
    $(".web_crawl_list").slideDown();
    })

    $(document).hover( function(){
    if(!$(this).attr("class")){
    $(".export_option_list").slideUp();
     }
    },
    function(){
    });
})

</script>
<style>
    .export_option_list {
    position:fixed;
    left:530px;
    top:70px;
    display:none;
    background-color:#222;
    color:#9d9d9d;
    border-radius:3px
    }

    .web_crawl_list {
    position:fixed;
    left:730px;
    top:100px;
    display:none;
    background-color:#222;
    color:#9d9d9d;
    border-radius:3px
    }

    .goog-te-banner-frame.skiptranslate, .goog-logo-link {
        display: none !important;
    }
    body {
        top: 0px !important;
    }
    .goog-te-combo > option:not([value="en"]):not([value="de"]):not([value="es"])
    {
        display:none;
    }

</style>
<div id="google_translate_element1"></div>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AVKIS - Web</a>
            
        </div>
        <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="germanhead"><a href="/Einzelanzeige">1. Mandant analysieren</a></li>
                    <li class="germanhead"><a href="/KI_Suche">2. KI-Suche</a></li>
                    <li class="germanhead export_option"><a>3. Exportieren&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></a></li>
                    <li class="germanhead crawl_list"><a>4. Web Crawl</a></li>
                    <li class="germanhead"><a href="/company_data">5. Unternehmen Daten</a></li>
                    <li class="germanhead"><a href="/preference">6. Praferenz</a></li>
		    {% block admin %}
		    {% endblock %}
                </ul>

            <ul class="nav navbar-nav navbar-right">
            </ul>
            <div class="export_option_list">
                &nbsp;<a href="/KI_Export" id="ki_export"> Export to Excel</a><br><br>
                &nbsp;<a href="/KI_Export_salesforce" id="salesforce_export"> Export to Salesforce</a>&nbsp;
                </div>
            <div class="web_crawl_list">
                &nbsp;<a href="/Nexxt_Change_Filter">Nexxt Change Crawl</a><br><br>
                 <a href="/dub_crawl">DUB Crawl</a><br><br>
                 <a href="/statewise_crawl">Statewise Crawl</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}
    {% block page_content %} {% endblock %}
</div>
{% endblock %}

  </body>
</html>