﻿﻿
<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
      <script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.autocomplete.js') }}"></script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.autocomplete.css') }}">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  </head>

  <body>

{% block navbar %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript">

function googleTranslateElementInit() {
  new google.translate.TranslateElement({}, 'google_translate_element1');
}
idleTime=0;
$(document).ready(function(){
 function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 600) {
        $.ajax({
          type: "GET",
          dataType: 'json',
          async: false,
          cache: false,
          url: "/auto_logout/",
          data:{
          },
          success: function(e){
                              }
    });
        window.location.reload();
    }
    }
    var idleInterval = setInterval(timerIncrement, 60000);
    $( ".export_option" ).click(function() {
    $(".web_crawl_list").slideUp();
    $(".dropdown-menus").slideUp();
    $(".export_option_list").slideDown();
    $(".admin_tab_list").slideUp();
    $(".testing_option_list").slideUp();
    })

    $( ".avadupload" ).click(function() {
    $(".web_crawl_list").slideUp();
    $(".dropdown-menus").slideDown();
    $(".export_option_list").slideUp();
    $(".admin_tab_list").slideDown();
    $(".testing_option_list").slideUp();
    })

    $( ".crawl_list" ).click(function() {
    $(".export_option_list").slideUp();
    $(".web_crawl_list").slideDown();
    $(".admin_tab_list").slideUp();
    $(".dropdown-menus").slideUp();
    $(".testing_option_list").slideUp();
    })

    $( ".admin_tab" ).click(function() {
    $(this).addClass("slidedown");
    $(".export_option_list").slideUp();
    $(".dropdown-menus").slideUp();
    $(".web_crawl_list").slideUp();
    $(".testing_option_list").slideUp();
    $(".admin_tab_list").slideDown();
    })
    $( ".slidedown" ).click(function() {
     $(this).removeClass("slidedown");
     $(".admin_tab_list").slideUp();
    })
    $( ".testing_option" ).click(function() {
    $(".web_crawl_list").slideUp();
    $(".export_option_list").slideUp();
    $(".dropdown-menus").slideUp();
    $(".admin_tab_list").slideUp();
    $(".testing_option_list").slideDown();
    })

    $(document).hover( function(){
    if(!$(this).attr("class")){
    $(".export_option_list").slideUp();
    $(".dropdown-menus").slideUp();

     }
    },
    function(){
    });
})

</script>
<style>
*{
    box-sizing:border-box;
    }
    .export_option_list {
    position:absolute;
    left:41%;
    top:18%;
    display:none;
    background-color:#795548;
    color:#fff;
    border-radius:3%;
    padding:1%;
        font-family: Calibri;
    }
    .dropdown-menus{
    position:absolute;
    left:15%;
    top:60%;
    display:none;
    background-color:#795548;
    color:#fff;
    border-radius:3%;
    padding:1%;
        font-family: Calibri;
    }

    .web_crawl_list {
    position:absolute;
    margin-left:-10.2%;
    margin-top:1.6%;
    display:none;
    background-color:rgb( 123, 30,43,0.7);
    color:#fff;
    border-radius:3%;
    padding:1%;
    z-index:20
    }

    .admin_tab_list {
    position:absolute;
    margin-left:-4.1%;
    margin-top:3.1%;
    display:none;
    background-color:rgb( 123, 30,43,0.7);
    color:#fff;
    border-radius:3%;
    padding:1%;
    z-index:10;
        font-family: Calibri;
    }

     .testing_option_list {
    position:absolute;
    left:83%;
    top:20%;
    display:none;
    background-color:#795548;
    color:#fff;
    border-radius:3%;
    padding:1%;
        font-family: Calibri;
    }

    .goog-te-banner-frame.skiptranslate, .goog-logo-link {
        display: none !important;
    }

    .goog-te-combo > option:not([value="en"]):not([value="de"]):not([value="es"])
    {
        display:none;
    }

    .log {
    padding : 0.2%;
    background-color: rgb( 123, 30,43,0.7);
    color:#fff;
    font-size:100%;
    margin-bottom: -1.5%;
        font-family: Calibri;
    }

    .abc {
    color:black;
    }
    #google_translate_element1
    {
    float:right;
    }
    h2{
        margin-top: 1px;
    margin-bottom: 7px;
        font-family: Calibri;
    }
    .hand{
    cursor: pointer;
    }

</style>

<div class="log">
    {% if home %}
    <a style="font-family: Calibri;margin-left:75%;" class="abc">{{ user.username }}</a>
    {% else %}
    <a style="font-family: Calibri;margin-left:80%;" class="abc">{{ user }}</a>
    {% endif %}
<!--    <t><a class="admin_tab abc">Admin&nbsp;</span></a>-->
    <t><a class="admin_tab abc hand" style="font-family: Calibri;margin-left:2%;" >Admin</span></a>
    <t class="admin_tab_list">
            <a href="/Datenbank_Oeffnen" class="abc">Database Open</a><br><br>
            <a href="/Datenbank_Zeigen" class="abc">Database Views</a><br><br>
            <a href="/Datenbank_Summary" class="abc">Database Summary</a><br><br>
            <a href="/Create_Stopwords" class="abc">Create Stopwords</a><br><br>
            <a href="/auth/user_list" class="abc">User List</a><br><br>
            <a href="/export_logs" class="abc">Export Log</a><br><br>
            <!--<a href="/avad_data_upload" class="abc">AVAD Data Upload<span class="caret"></span></a><br><br>-->
            <a href="#" class="abc avadupload">AVAD Data Upload</a><br><br>
            <a href="/fiche_detail" class="abc">Fiche Details</a><br><br>
            <a href="/preference/home" class="abc">User Settings</a><br><br>
            <a href="/nexxt_change_intimation_log" class="abc">Nexxt-Change Intimation Logs</a><br><br>
            <a href="/auth/change_password" class="abc">Change Password</a><br><br>
            <a href="/auth/change_database" class="abc">Change Database</a><br><br>
            <a href="/auth/logout" class="abc">Logout ({{ user.username }})</a>
    </t></t>
<!--    <a style="font-family: Calibri;margin-left:2%;" class="abc" href="/preference">Settings</a>-->

    <a href="http://www.avandil.com" target='_blank'  style="font-family: Calibri;margin-left:2%;" class="abc">AVANDIL</a>
<!--    <br>-->

    <b><br>

         <a href="/home" class="abc" style="margin-left:1.5%;">Home</a>
    <!--a href="/start" class="abc" style="margin-left:1.5%;">Start</a>&nbsp;&nbsp;&nbsp;

 <    <div id="google_translate_element1"></div>
    </b>
</div>
<div class="export_option_list">
              <!--  &nbsp;<a href="/KI_Export" id="ki_export" class="abc"> Export to Excel</a><br><br>
                &nbsp;<a href="/KI_Export_salesforce" id="salesforce_export" class="abc"> Export to Salesforce</a>&nbsp;-->
                </div>
<div>
                &nbsp;
                </div>
<div class="testing_option_list">                &nbsp;
                <a href="/KI_Suche_tfidf" class="abc">KI-Suche TFIDF</a>&nbsp;&nbsp;<br><br>
                 <a href="/KI_Suche_stemmer" class="abc">KI-Suche Stemmer</a><br><br>
                </div>

<div class="dropdown-menus">
                  <a tabindex="-1" href="/avad_data_upload/2.3">2.3. Datenübernahme aus Datei</a><br><br>
                  <a tabindex="-1" href="/avad_data_upload/2.4">2.4. Datenübernahme aus Verzeichnis</a><br><br>
                  <a tabindex="-1" href="/Datenbank_Update">2.5. Database-Update (zwingend nach Datenübernahme !)</a><br><br>
                  <a tabindex="-1" href="/Update_TFIDF">2.6. Update TFIDF</a><br><br>
            </div>
{% endblock %}

{% block content %}
<div class="container">
    <!--{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}-->
    {% block page_content %} {% endblock %}
</div>
{% endblock %}

  </body>
<style>
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 0px solid #eee;
 }
 h2 {
    font-size: 20px;
    }
    .container {
    width: 98%;
    margin-left :1%;
    }

    th {
    background-color:#D3D3D3;
    text-decoration:underline;
    font-weight: normal;
    }

    .bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td
    {
    padding: 3px !important;border: 0;
    background-color:white;
    }
    .fixed-table-body {
        height: fit-content;
    }


    body {
        top: -20px !important;
        background-color:white;
    }

    table {
        font-size:14px;
        font-family: Calibri;
        }
    form {
        font-size:12px;
        font-family: Calibri;
    }

</style>
</html>