<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>

<p id="test"><b>Hello</b></p>
<!--<script type="text/javascript">-->
    <!--$(document).ready(function(){-->
    <!--$("#test").html("HELLO");-->
    <!--})-->
<!--</script>-->
