﻿
{% extends "manual_company.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Nexxt change Filter{% endblock%}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Global Search</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .fixed-table-body {
    height: 58%;
    }

  .admin_tab_list {
    position:absolute;
    margin-left:-4.1%;
    margin-top:3.1%;
    display:none;
    background-color:rgb( 123, 30,43,0.7);
    color:#fff;
    border-radius:3%;
    padding:1%;
    z-index:10;
        font-family: Calibri;
    }




    .hiddenserailnumber{
    display:none;
    }
    .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td
    {
    padding: 0px !important;
    border: 0;
    font-family: Calibri;
    }
    .success {
   // border-radius: 0 15px 15px 0;
    border: 0.2px solid grey;
    border: 0.2px solid grey;
    padding: 5px 10px;
    margin-left: 0.5%;
    margin-top: -1.5%;
    margin-bottom: 1%;
    height: 5%;
    width: auto;
    }
    .fixed-table-container thead th .th-inner{
    color:black;
    border: 0px solid #dddddd;}
</style>
<style>
 tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color:  white;
}

 tbody tr:nth-child(even) td,
 tbody tr:nth-child(even) th {
	background-color: white;

}
    .fixed-table-body {
    height: 0%;
    width:100%;

    }
    .fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    padding: 0px !important;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: relative;
    clear: both;
    border: 0px solid #dddddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    }
    #ip2 {
 //    border-top-left-radius: 16px 10px;
 // border-bottom-left-radius: 16px 10px;
    border: 2px solid #928a8aab;
    padding: 22px;
    width: 556px;
    height: 7%;
}
.container {
    width: 1570px;
    margin-left:0%;
    border: 0px solid #eee;
}
.fixed-table-container {
border: 0px solid #dddddd;

}


#ip2 {
  padding: 12px;
  font-size: 20px;
  border: 2px solid grey;
  float: left;
  width: 40%;
  height: 6%;
  background: white;
 // border-top-left-radius: 16px 12px;
 // border-bottom-left-radius: 16px 12px;
}

#filter_action {
  float: left;
  width: 6%;
  height: 6%;
  padding: 6px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  //border-top-right-radius: 16px 10px;
  //border-bottom-right-radius: 16px 10px;
}

 #filter_action:hover {
  background: #0b7dda;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
p{
margin:2px;
}



</style>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="col-sm-12" style="padding:0%">
<h2 style="font-family: Calibri;font-size: 20px;"><b>SEARCH & SELECT</b></h2>

  <div class="col-sm-8" style="padding:0%">
<!--<h5 style="font-family: Calibri;font-size: 12px;margin-top: -3px;">Find companies by name or AID. Select your Client and up to five direct competitors</h5>-->
      <p style="margin: 8px 1px 10px;font-weight: 300;">Find companies by name or AID. </p>
      <br>
      <input type="text" id="ip2"  style="font-family: Calibri;font-size: 12px;" placeholder="Search by Company or AID" name="search">
            <button type="submit" id="filter_action"><i class="fa fa-search"></i></button>
  </div>

  </div>
<div class="container" style="float:left; padding-top: 0% margin-left:0%;border-bottom: 0px solid #eee; padding-left: 0px;">

    <!--<a href="/Einzelanzeige" id="mandate" style="margin-left:2%"><button  id="collect_keyword" class="w3-btn w3-border w3-tiny w3-round" style="font-family: Calibri;height: 8%;border-radius: 16px;"><b>Collect Keywords From Selected Companies </b></button></a>-->
    <!--<a href="/KI_Suche" id="kisuche"><button>KI Suche</button></a>-->
     <br>
     <br>
     <div class="col-sm-12" style="font-size: 12px;padding-top:0px;margin-left:0%">
         <p hidden>Selected Company/Companies :</p>
                 <div id="selectedaid"  ></div>
             </div>
    <br><br>

    <table  cellspacing="0" hidden  id="company_data_table" data-toggle="table" data-url="{{ url_for('main.company_data_detail') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[50, 100, 200,500]" data-query-params="queryParams"
        data-page-size="50" style="margin-left:1.5%;">
    <thead style="background:#2196f3; overflow-y: auto;position: relative;">
        <tr class="w3-hover-grey"  style="font-size: 12px;font-family: Calibri; color: black;">
              <th  data-field="index" data-formatter="indexN" class="hiddenserailnumber" style="font-size: 12px;font-family: Calibri; color: black;display: none !important;">serial number</th>
            <th data-field="AID" data-sortable="false"  data-formatter="LinkFormatter" style="    margin-left: 10%;outline:none;" ><b>Aid</b></th>
            <th  data-field="Entity_Last_Name" data-formatter="LinkFormatter1" data-sortable="false" style="font-size: 12px;font-family: Calibri; color: black;align:center;"><b>Company</b></th>
            <th  data-field="State"><b>Town , State</b></th>
            <th  data-field="website" data-formatter="WebsiteFormatter"  ><b> Website</b></th>
            <th  data-field="Mainbranchcode" ><b> Main Branch Code</b></th>
            <th  data-field="Mainbranchtext" ><b>Main Branch Text</b></th>
        </tr>
    </thead>
    </table>
</div>
<div class="modal fade" id="detail_form" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
            <u><b>Contact Details</b></u><br>
            Street : <input type="text"/><br>
            ZIP/Town : <input type="text"/><br>
            Region : <input type="text"/><br>
            Country : <input type="text"/><br>
            Phone : <input type="text"/><br>
            Web : <input type="text"/><br>
            E-Mail : <input type="text"/><br>
            <u><b>Additional addresses</b></u><br>

            <u><b>Identification numbers</b></u><br>
            AID AVANDIL ID : <input type="text"/><br>
            Crefo ID : <input type="text"/><br>
            Crefo Office : <input type="text"/><br>
            UID Number : <input type="text"/><br>
            Tax Number : <input type="text"/><br>
            Trade register number : <input type="text"/><br>
            Local Court : <input type="text"/><br>
            <u><b>Industry code & activities</b></u><br>
            <b><u>WZ Codes & Activities</u></b><br>
            <b>Primary Code</b><br>

            <b>Secondary Code</b><br>

            <b><u>AVANDIL Codes</u></b><br>
            <b>Primary Code</b><br>

            <b>Secondary Code</b><br>
            <u><b>Activity description in commercial trade register</b></u>
            <u><b>Financials</b></u><br>

            <u><b>Current shareholders</b></u><br>
            <u><b>Directors/Managers/Companies with a managerial function in a company</b></u><br>
            <u><b>Legal & account information</b></u><br>
        </div>
        <div class="modal-footer">
          you
        </div>
      </div>

    </div>
  </div>
<script type="text/javascript">
dataindex=0;
temppagesize=0;
function WebsiteFormatter(params)
{
if(params=="None")
{
final="-";
return final;
}
if (params)
{
params=params.replace("<b>","").replace("</b>","");
final = "<a href='http://"+params+"'  target='_blank' title='"+params+"' ><span class='material-icons' style='color:black;'>&#xe894;</span></a>";
          return final;
}
else
{
final="";
return final;
}
}
function queryParams(params) {
       if($("#ip2").val())
       {
        params.search = $("#ip2").val().trim();
        }

        return params;
}

$("#filter_action").click(function(){;
if($("#ip2").val())
{
    $("#company_data_table").show();
    $(".fixed-table-body").css('height','150%');
    $("#company_data_table").bootstrapTable('refresh');
            for (k=0;k<aid.length; k++ )
              {
              $('#'+aid[k]+'ck').prop('checked', true);
              $('#'+aid[k]+'ck').attr('checked','checked');
              }
}
else
{
                    $("#company_data_table").hide();
                    $("#company_data_table").bootstrapTable('refresh');
                    $('#company_data_table').bootstrapTable('resetSearch', "");
}
})

function indexN(value,row,index)
     {
             current_page=$(".page-number.active").children().html();
                dataindex=value;
                 return value;
     }


chk=new Object();
aid=new Array(6);
aidpgno=new Array(6);
frdaidname=""
var limit = 0;
j=0;

{% if earlier_selected %}
aid=[];
    {% for each in earlier_selected %}
        aid.push("{{each}}");
     {% endfor %}
 {% endif %}
function LinkFormatter(entity_name)
     {
     entity_names=String(entity_name).replace("<b>",'').replace("</b>",'');
      encryp_aid='';


                         $.ajax({
                  type: "GET",
                  dataType: 'json',
                  async: false,
                  cache: false,
                  url: "/encrypt_aid/",
                  data:{ aid:entity_names
                  },
                  success: function(e){
                  encryp_aid=e.cipher_text
                                      }
            });

       // final = "<input type='radio' name='aidselect' onclick='process_ids(this.parentNode.nextSibling.nextSibling.innerHTML)' class='search_ids' value='"+entity_name+"'/>&nbsp;"+entity_name;

          url="'/003/010/"+encryp_aid+"'"
          final = "<a href="+url+" target="+'"_blank"'+">"+entity_name+"</a>";
          return final;
     }

function set_data(obj){
company_aid = obj.parentNode.previousSibling.firstChild.value;
$.ajax({
          type: "POST",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/get_company_aid_data/",
          data:{'aid':company_aid},
          success: function(e){
                              },
    });
}

function LinkFormatter1(entity_name){
entity_data = "<l data-toggle='modal' data-target='#detail_form' onclick='set_data(this)'>"+entity_name+"</l>";
return entity_data;
}
function remove_company(current_aid){
      cid=current_aid.id.substring(0, current_aid.id.length - 2);
      $("#"+cid).remove();
      var index = aid.indexOf(cid);
      if (index > -1)
                   {
                      aid.splice(index, 1);
                      aidpgno.splice(index, 1);
                   }

      limit=limit-1;
      if(limit<=1){
      $("#faster").show();
      }
                    $("#company_data_table").hide();
                    $("#company_data_table").bootstrapTable('refresh');
                    $('#company_data_table').bootstrapTable('resetSearch', "");

}
function process_ids(aidname,chk,obj)
     {
        j=j+1;
        shortaidname="";
        frdaidname=aidname;
        for (i=0;i<aidname.length;i++)
            {
                if(i<23)
                {
                     shortaidname=shortaidname+aidname.charAt(i);
                }
                else
                {
                    if(!shortaidname.includes("..."))
                    {
                    shortaidname=shortaidname+" ...";
                    }
                }
         }
        if($(chk).prop("checked") == true)
            {

                 if (String(aid[0])=="undefined")
                 {
                 limit=0
                 }
                 else{
                 limit=aid.length;
                  }
                 if(limit<5)
                 {
                    shortaidname=shortaidname.replace("</b>",'').replace("<b>",'');
                    while(aidname.indexOf("<b>")>-1)
                    {
                     aidname=aidname.replace("</b>",'').replace("<b>",'');
                    }
                    obj=obj.replace("</b>",'').replace("<b>",'');
                    aid[limit]=obj.replace("</b>",'').replace("<b>",'');
                    aidpgno[limit]=chk.parentNode.parentNode.firstChild.innerHTML;
                    //aidpgno[limit]=allaids.indexOf(parseInt(obj));              //storing the index of aids from alladis
                    pagesize=$(".active").children().html();
                    if($(".form-control").val()!="" )
                      {
                            pagesize=temppagesize;
                      }
                    else
                       {
                         temppagesize=pagesize;
                       }

                         $("#selectedaid").append("<div class='success col-sm-4' id="+obj+"><a onclick='remove_company(this)' class='pgtextssss' id="+obj+"rs"+" color='#2799d2'><span style='float:left;padding-right:3%;'><i class='fa fa-times w3-large' style='height:5%;color:black;'></i></span></a><p style='float:left;font-family: Calibri;color:black;'><a onclick='id_Page(this)' class='pgtext' color='#2799d2'>&nbsp;  </a><strong><a href='#' data-toggle='tooltip' data-placement='top' onclick='id_Page(this)' class='pgtext' style='font-family: Calibri;color:black;font-size: 12px;' id='pgno'  title='"+aidname+"'>"+shortaidname+"</a></strong>  &nbsp;&nbsp; </p>&nbsp;&nbsp; </div>");
                       for (i=0;i<aid.length;i++)
                       {
                       $("div").each(function(){
                           if(typeof($(this).attr("id"))!="undefined" && $(this).attr("id")==aid[i])
                           {   //$(this).find("#pgno").html("");
                               dv=String(String(aidpgno[i]/pagesize).split(".")[1])
                               if (dv=="undefined")
                                   dv="9"
                               if(dv.charAt(0)>4)
                               {
                                  $(this).find("#pgno").addClass(String(parseInt((aidpgno[i]/pagesize).toFixed())));
                               }
                               else
                               {
                                  $(this).find("#pgno").addClass(String(parseInt((aidpgno[i]/pagesize).toFixed())+1));
                               }
                               //$(this).find("#pgno").append(aidpgno[i]);
                               if(typeof($(this).find(".pgtext").attr("id"))=="undefined")
                               {
                                 $(this).find(".pgtext").attr("id",obj);
                               }

                           }
                       });

                    }
                    chk.setAttribute("class","chk");
                    $(".form-control").val("");
                    $("#ip2").val("");
                    $(".fixed-table-body").css('height','0%');
                    $("#company_data_table").hide();
                    $("#company_data_table").bootstrapTable('refresh');
                    $('#company_data_table').bootstrapTable('resetSearch', "");
                 //   $("#company_data_table").bootstrapTable('selectPage',1);
                 if(limit>0)
                 {
                 $("#faster").hide();
                 }

            }
            if (limit >=5 )
                {
                      if(limit>1)
                     {
                      $("#faster").hide();
                     }
                      alert("You can select only 5 Aid's");
                        $(chk).prop('checked', false);
                        var index = aid.indexOf(obj);
                        if (index > -1) {
                                   aid.splice(index, 1);
                                   aidpgno.splice(index, 1);
                        }
                        chk.removeAttribute("class","chk");
                        $(".form-control").val("");
                        $("#ip2").val("");
                        $(".fixed-table-body").css('height','0%');
                        $("#company_data_table").hide();
                        $("#company_data_table").bootstrapTable('refresh');
                         $('#company_data_table').bootstrapTable('resetSearch', "");
                      //  $("#company_data_table").bootstrapTable('selectPage',1);
                        limit=limit-1;
                }
            limit=limit+1;
        }
        else if($(chk).prop("checked") == false)
            {
               limit=limit-1;
               var index = aid.indexOf(obj);
               chk.removeAttribute("class","chk");
               $("div #"+obj).remove();
               $(".form-control").val("");
               $("#ip2").val("");
               $(".fixed-table-body").css('height','0%');
               $("#company_data_table").hide();
               $("#company_data_table").bootstrapTable('refresh');
                $('#company_data_table').bootstrapTable('resetSearch', "");
            //   $("#company_data_table").bootstrapTable('selectPage',1);
               if (index > -1)
                   {
                      aid.splice(index, 1);
                      aidpgno.splice(index, 1);
                   }
                   if(limit<=1)
                   {
                    $("#faster").show()
                   }
            }
     }
function id_Page(chk)
   {


         chkaid=chk.id;
         $("#ip2").val(String(chkaid));
          $( "#filter_action" ).click();
         aidpgno1=String(chk.classList[1]);
         $("#company_data_table").bootstrapTable('selectPage',aidpgno1);
         $(".page-number").each(function(){
             if($(this).children().html()==aidpgno1)
                 {
                     $(this).trigger("click");
                 }
         })
         $("#ip2").val('');
   }


$(document).ready(function()
{
$(document).click(function(evt){
 if(evt.target.classList.contains("abc")){
 }
 else{
 $(".admin_tab_list").slideUp();
} }
 )
document.querySelector("[data-field='AID']").firstChild.setAttribute("style", "margin-left: 11%;");
{% if not earlier_selected %}
 aid=[]
 {% endif %}
aidname="";
    if (aid.length>0)
      {
           for (j=0;j<aid.length; j++ )
          {
               {% for each in earlier_selected %}
                   if  ("{{each}}"==String(aid[j]))
                  {
                  aidname="{{ earlier_selected[each]}}"
                  }
                 {% endfor %}
                shortaidname="";
                for (i=0;i<aidname.length;i++)
                    {
                        if(i<23)
                        {
                             shortaidname=shortaidname+aidname.charAt(i);
                        }
                        else
                        {
                            if(!shortaidname.includes("..."))
                            {
                            shortaidname=shortaidname+"...";
                            }
                        }
                    };
             caid=String(aid[j]);
          $("#selectedaid").append("<div class='success col-sm-4' id="+caid+"><a onclick='remove_company(this)' class='pgtextssss' id="+caid+"rs"+" color='#2799d2'><span style='float:left;'><i class='fa fa-times w3-large' style='height:5%;color:black;'></i></span></a><p style='float:left;font-family: Calibri;color:black;'><a onclick='id_Page(this)' class='pgtext' color='#2799d2'>&nbsp;  </a><strong><a href='#'   data-toggle='tooltip' data-placement='top' onclick='id_Page(this)' class='pgtext' style='font-family: Calibri;color:black;font-size: 12px;' id="+caid+"  title='"+aidname+"'>"+shortaidname+"</a></strong>  &nbsp;&nbsp; </p>&nbsp;&nbsp; </div>");

          if (String(aid[0])=="undefined")
                 {
                 limit=0
                 }
                 else{
                 limit=aid.length;
                 }


          }
      }

        if(limit<=1)
             {
                    $("#faster").show();
              }
           else{
               $("#faster").hide();
               }
    var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#collect_keyword,#filter_action,#faster,#accurate").css('background-color',btn_background);
   $("#collect_keyword,#filter_action,#faster,#accurate").css('color',btn_text);
      $('[data-toggle="popover"]').popover();
    //$("#kisuche").click( function(){
    //var select_final = "/KI_Suche/?autofill_aid="+aid;
    //$("#kisuche").attr("href",select_final);
    //})
    $("#mandate,#accurate").click( function(){

                aid=String(aid);
                while(aid.indexOf(",")!=-1)
                    {
                       aid=aid.replace(","," ");
                    }
                var select_final = "/Einzelanzeige/?autofill_aid="+aid+"&method_details="+"accurate";
                $("#mandate,#accurate").attr("href",select_final);
    })
    $("#faster").click( function(){

                aid=String(aid);
                while(aid.indexOf(",")!=-1)
                    {
                       aid=aid.replace(","," ");
                    }
                var select_final = "/KI_Suche/?autofill_val=''&autofill_aid="+aid+"&method_details="+"faster"+"&autofill_name="+frdaidname.replace("<b>","").replace("</b>","").replace("&amp;","");
                $("#faster").attr("href",select_final);
    })
})

$('#company_data_table').on('search.bs.table',function(){
        j=j+1;
 });
$('#company_data_table').on('load-success.bs.table',function(){
        for (k=0;k<aid.length; k++ )
          {
          $('#'+aid[k]+'ck').prop('checked', true);
          $('#'+aid[k]+'ck').attr('checked','checked');

          }
       if(j==0)
       {
         temppagesize=$(".active").children().html();
       }

 });
$('#company_data_table').on('page-change.bs.table',function(){
      $(this).on('load-success.bs.table',function(){
        for (k=0;k<aid.length; k++ )
          {
          $('#'+aid[k]+'ck').prop('checked', true);
          $('#'+aid[k]+'ck').attr('checked','checked');
          }
           console.log("load successfully");
           $("td").each(function()
           {
           console.log(this.innerText);
             for( i=0;i<aid.length;i++)
               {
                   if(this.innerText.trim()==aid[i])
                   {
                   $(this).parent().children().children().prop('checked', true);
                   console.log("on load checkbox clicked");
                   }
               }
          })
      })
});
var input = document.getElementById("ip2");
input.addEventListener("keyup", function(event) {
  event.preventDefault();
  if (event.keyCode === 13) {
    document.getElementById("filter_action").click();
  }
});
</script>
{% endblock %}