<!DOCTYPE html>
<html>
<body>
<head>
    <style media="print">
         @page {
          size: auto;
          margin-top:30px;
          margin-bottom:30px;
               }
               a {
                color: blue;
    text-decoration: none;
    }

table.report-container {
    page-break-after: always;

}
        table, th, td
           {
              border-collapse: collapse;
              text-align:top;

           }

        th, td
            {
            width:25%;
            }
        table
           {
             width:100%
           }

        div.main
           {

             width: 90%;
             font-family: Calibri;
             font-size:12px
           }
        .large{
            width:40%;
           vertical-align: top;
           text-align: left;
              }
        .five{
            width:25%;
            vertical-align: top;
           text-align: left;
              }
         .six{
            width:16%;
            vertical-align: top;
           text-align: left;
            }
         .seven{
         width:14%;
         vertical-align: top;
           text-align: left;
            }
            .eight{
         width:12%;
         vertical-align: top;
           text-align: left;
            }


    .print12
    {
    background-color : #d3d3d3;
    -webkit-print-color-adjust: exact;
    }

  .right{
        text-align:right;
        }
  .center{
text-align:center;
  }


    </style>
    <style media="screen">

        table, th, td
           {
              border-collapse: collapse;
              text-align:top;
           }

        th, td
            {
            width:25%;
            }
        table
           {
             width:100%
           }

        div.main
           {


             width: 90%;
             font-family: Calibri;
             font-size:12px
           }
        .large{
            width:40%;
           vertical-align: top;
           text-align: left;
              }
        .five{
            width:25%;
            vertical-align: top;
           text-align: left;
              }
         .six{
            width:16%;
            vertical-align: top;
           text-align: left;
            }
         .seven{
         width:14%;
         vertical-align: top;
           text-align: left;
            }
            .eight{
         width:12%;
         vertical-align: top;
           text-align: left;
            }


    .print12
    {
    background-color : #d3d3d3;
    -webkit-print-color-adjust: exact;
    }



  .right{
        text-align:right;
        }
  .center{
text-align:center;
  }

    </style>
</head>

<table class="report-container">

    <thead class="report-header" align="center"  >
    <tr>
        <th>


    <div class="main"><table><tr><td >Company report<br>{{Entity.Entity_Last_Name}}</td><td class="center"></td><td class="right">{{tm}}</td> </tr></table><b><hr noshade></b>
        </div>
       </th>
    </tr>
    </thead>
    <tbody class="report-content" align="center">
    <tr>
        <td>

    <div class="main" >


        <h2 align="left" >{{Entity.Entity_Last_Name}}</h2>
            <table >
                <tr>
                    <td><b>Address</b></td>
                    <td colspan="3"><a class="address" href=http://maps.google.com/?q={{address.Street_Nr}}, {{address.PLZ}}   {{address.City}}, {{address.Country }} target=_blank>{{address.Street_Nr+", "+address.PLZ +" "+ address.City+", "+address.Country }}</a></td>
                </tr>
                <tr>
                    <td><b>AID</b></td>
                    <td>{{address.AID}}</td>
                    <td><b>Crefo-ID</b></td>
                    <td>{{address.AID}}</td>

                </tr>
                 </table><br>
            <table >
                <tr>
                    <td class="print12" colspan="4"><b>Contact details</b></td>
                </tr>
                </table>
            <table>
                <tr>
                    <td><b>Street</b></td>
                    <td>{{address.Street_Nr}}</td>
                    <td><b>Phone</b></td>
                    <td>{{tel}}</td>
                </tr>
                <tr>
                    <td><b>Zip/Town</b></td>
                    <td>{{address.PLZ +" "+ address.City }} </td>
                    <td><b>Web</b></td>
                    <td><a href=http://{{web_contact}} target=_blank>{{web_contact}}</a></td>
                </tr>

                 </table>
        <br>


             <table >
                 <tr>
                    <td class="print12" colspan="4" > <b>Identification numbers</b></td>
                 </tr>
                 </table>
            <table>
                 <tr>
                     <td><b>AVANDIL ID</b></td>
                     <td>{{Entity.AID}}</td>
                     <td><b>Crefo ID</b></td>
                     <td>{{Entity.AID}}</td>

                 </tr>
                 <tr>

                     <td><b>Trade register</b></td>
                     <td>{{Entity.ROC_Register_ID}}</td>
                     <td><b>UID</b></td>
                     <td>{{Entity.UID}}</td>
                 </tr>

            </table><br>

         <table  class="print12">
             <tr>
                 <td><b>Industry codes & Activities</b></td>
             </tr>

          </table>

            <h3 align="left">WZ 2008 code(s)</h3>
            <p align="left"><b>Primary code</b><br>
            {{wz_primary}}<br><br>
            <b>Secondary code(s)</b><br>

            {% for each in wz_secondary %}
            {{each}}<br>
            {% endfor %}
        </p>
            <h3 align="left">AVANDIL code(s)</h3>
            <p align="left"><b>Primary code</b><br>
            {{avandil_primary}}</p>
            <p align="left"><b>Secondary code(s)</b><br>
            {% for each_ in avandil_secondary %}
            {{each_}}<br>
            {% endfor %}</p>



            <p align="left"><b>Activity description in commercial trade register</b><br>
            {{business_activity.Activity_Description_ROC}}</p><br>

          <table  class="print12">
              <tr>
                  <td><b>Financials</b></td>
              </tr>

         </table>

        <table >
            <tr>
                <td width="12%"><b>Unconsolidated</b></td>
                {% for each_year in years %}
                <td class="eight"><b>{{each_year}}</b></td>
                {% endfor %}

            </tr>
            <tr>
                <td class="eight"><b>Turnover (EUR)</b></td>
                {% for each_fin in fin_value %}
                {% if each_fin %}
                <td class="eight">{{each_fin}}</td>
                {% else %}
                <td class="eight">n/a</td>
                {% endif %}
                {% endfor %}

            </tr>

            <tr>
                <td class="eight"><b>No. of Workforce</b></td>
                {% for each_1 in employee %}
                {% if each_1 %}
                <td class="eight">{{each_1}}</td>
                {% else %}
                <td class="eight">n/a</td>
                {% endif %}
                {% endfor %}

            </tr>




        </table><br>

        <table class="print12" >
            <tr>
                <td><b>Current shareholders</b></td>
            </tr>

        </table>


        <table>
            <tr >

                <td class="five"><b>Shareholder name</b></td>
                <td class="seven"><b>Country</b></td>
                <td class="seven"><b>Type</b></td>
                <td class="seven"><b>Direct Share (%)</b></td>
                <td class="seven"><b>Turnover</b></td>
                <td class="seven"><b>Employees</b></td>
                <td class="six"><b>Web</b></td>

            </tr>


                {% for each_holder_name in shared_data %}
                <tr>
                <td class="seven">{{each_holder_name[0]}}</td>
                <td class="seven">{{each_holder_name[1]}}</td>
                <td class="seven">{{each_holder_name[2]}}</td>
                <td class="seven">{{each_holder_name[3]}}</td>
                {% if each_holder_name[4] %}
                <td class="seven">{{each_holder_name[4]}}</td>
                {% else %}
                <td class="seven">n/a</td>
                {% endif %}
                {% if each_holder_name[5] %}
                <td class="seven">{{each_holder_name[5]}}</td>
                {% else %}
                <td class="seven">n/a</td>
                {% endif %}
                {% if each_holder_name[6] != 'n/a' %}
                <td class="six"><a href=http://{{each_holder_name[6]}} target=_blank>{{each_holder_name[6]}}</a></td>
                {% else %}
                <td class="six">n/a</td>
                {% endif %}
                </tr>

                {% endfor %}




        </table><br>


        <table class="print12">
            <tr>
                <td><b>Directors/Managers/Companies with a managerial function in this company</b></td>
            </tr>
        </table>
        <table>
            <tr>

                <td class="five"><b>Name</b></td>
                <td class="five"><b>Birth Year</b></td>
                <td class="five"><b>Manager-Function</b></td>
                <td class="five"><b>Shareholder function</b></td>
            </tr>
            {% for man_info in man_data %}
                <tr>
                <td class="five">{{man_info[0]}}</td>
                <td class="five">{{man_info[1]}}</td>
                <td class="five">{{man_info[3]}}</td>
                <td class="five">{{man_info[4]}}</td>
                </tr>
                {% endfor %}

        </table><br>

        <table class="print12">
            <tr>
                <td><b>Legal & account information</b></td>
            </tr>
        </table>
        <table>
            <tr>

                 <td><b>Last available year</b></td>
                <td>2018</td>
            </tr>
            <tr>
                <td><b>Current legal form</b></td>
                <td class="large">{{legal_info[1]}}</td>

            </tr>
            <tr>
                <td><b>First legal form</b></td>
                <td class="large">{{legal_info[2]}}</td>

            </tr>
            <tr>
                <td><b>Founding date</b></td>
                <td class="large">{{legal_info[3]}}</td>
                 <td><b></b></td>
                <td></td>
            </tr>
        </table><br>
        <table class="print12">
            <tr>
                <td><b>Current subsidiaries</b></td>
            </tr>
        </table>
        <table>

            <tr>

                <td class="seven"><b>Subsidiary name</b></td>
                <td class="seven"><b>Country</b></td>
                <td class="seven"><b>Type</b></td>
                <td class="seven"><b>Direct Share (%)</b></td>
                <td class="seven"><b>Turnover</b></td>
                <td class="seven"><b>Employees</b></td>
                <td class="seven"><b>web</b></td>
            </tr>
            {% for sub_info in subsidry %}
                <tr>
                <td class="seven">{{sub_info[0]}}</td>
                <td class="seven">{{sub_info[1]}}</td>
                <td class="seven">{{sub_info[2]}}</td>
                <td class="seven">{{sub_info[3]}}</td>
                <td class="seven">{{sub_info[4]}}</td>
                <td class="seven">{{sub_info[5]}}</td>
                    <td class="seven"><a href=http://{{sub_info[6]}} target=_blank> {{sub_info[6]}}</a></td>

                </tr>
                {% endfor %}

        </table><br><br>
        <table class="print12">
            <tr>
                <td><b>Financials and Group Information Overview</b></td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="large"><b>No of companies in corporate group</b></td>
                <td>{{finan_group[0]}}</td>
                <td><b>Turnover  ({{latest_year_fin}})</b></td>
                {% if latest_fin[1] %}
                <td>{{latest_fin}}</td>
                {% else %}
                <td>n/a</td>
                {% endif %}
            </tr>
            <tr>
              <td class="large"><b>No. of recorded shareholders</b></td>
                {% if finan_group[1] %}
                <td>{{finan_group[1]}}</td>
                {% else %}
                <td>n/a</td>
                {% endif %}
                <td><b>Employees  ({{latest_year_emp}})</b></td>
                <td>{{latest_emp}}</td>
            </tr>
            <tr>
                <td class="large"><b>No. of recorded subsidiaries</b></td>
                <td>{{finan_group[2]}}</td>
            </tr>

        </table>


    </div>
         </td>
    </tr>
</tbody>
</table>

</body>
</html>