{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript">
    $(document).ready(function(){
    $("#submit").click( function(){
    var db = $("#db_path option:selected").val();
    $.ajax({
          type: "POST",
          dataType: 'json',
          async: false,
          cache: false,
          url: "/auth/change_database_name/",
          data:{
          'db':db,
          },
          success: function(e){
                              }
    });
    alert("Database Selected Successfully");
    })
    })
</script>

<div style="margin-left:10%">
Select Database
<select id="db_path">
    <option value="/opt/database/AVAD-2018-05.db">AVAD Main Database</option>
</select><br><br>
    <button value="SUBMIT" id="submit">SUBMIT</button>
    </div>
{% endblock %}