﻿{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function(){


     })
</script>
<div class="container">
    <div class="page-header">
        <h1>AVANDIL - Datenbankübersicht</h1>
        {%if datenbank %}
            <p>Datenbank: {{datenbank}}</p>
            {%if records %}
                <p>Datensätze: {{records}}</p>
            {%endif%}
        {%else%}
            <p>Keine Datenbank ausgew&aumlhlt</p>
        {%endif%}
        <h2>Bundesländer</h2>
        <p>Ohne Angabe:            {{Country["Ohne"]}}</p>
        <p>Baden-Württemberg:      {{Country["Baden-Württemberg"]}}</p>
        <p>Bayern:                 {{Country["Bayern"]}}</p>
        <p>Berlin:                 {{Country["Berlin"]}}</p>
        <p>Brandenburg:            {{Country["Brandenburg"]}}</p>
        <p>Bremen:                 {{Country["Bremen"]}}</p>
        <p>Hamburg:                {{Country["Hamburg"]}}</p>
        <p>Hessen:                 {{Country["Hessen"]}}</p>
        <p>Mecklenburg-Vorpommern: {{Country["Mecklenburg-Vorpommern"]}}</p>
        <p>Niedersachsen:          {{Country["Niedersachsen"]}}</p>
        <p>Nordrhein-Westfalen:    {{Country["Nordrhein-Westfalen"]}}</p>
        <p>Rheinland-Pfalz:        {{Country["Rheinland-Pfalz"]}}</p>
        <p>Saarland:               {{Country["Saarland"]}}</p>
        <p>Sachsen:                {{Country["Sachsen"]}}</p>
        <p>Sachsen-Anhalt:         {{Country["Sachsen-Anhalt"]}}</p>
        <p>Schleswig-Holstein:     {{Country["Schleswig-Holstein"]}}</p>
        <p>Thüringen:              {{Country["Thüringen"]}}</p>
    </div>
</div>
{% endblock %}
