{% extends "buyer_portal.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS-Web - Nexxt change Filter{% endblock%}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Dub Data</title>
<div style="margin-top:2%">
<select id="branch1">
    <option value="select" selected>Select Branch1</option>
    {% for each_branch1 in branch1 %}
    <option value="{{ each_branch1 }}">{{ each_branch1 }}</option>
    {% endfor %}
</select>
{% if branch2data == "" %}
<select id="branch2">
    <option value="select" selected>Select Branch2</option>
</select>
{% else %}
   <select id="branch2">
    <option value="{{ branch2data }}" selected>{{ branch2data }}</option>
</select>
{% endif %}
{% if branch3data == "" %}
<select id="branch3">
    <option value="select" selected>Select branch3</option>
</select>
{% else %}
<select id="branch3">
    <option value="{{branch3data}}" selected>{{branch3data}}</option>
</select>
{% endif %}
<button id="search_next">SEARCH</button>
 </div>
<table id="dub_table" data-toggle="table" data-url="{{ url_for('main.dub_filter_data') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-page-size="10" data-show-export="true" data-show-refresh="true" data-search="true" data-query-params="queryParams">
    <thead>
        <tr>
            <th data-field="Id" data-sortable="true">Id</th>
            <th data-field="Description" data-sortable="true">Description</th>
            <th data-field="Branches" data-sortable="true">Branches</th>
            <th data-field="Turnover" data-sortable="true">Turnover</th>
            <th data-field="Employees" data-sortable="true">Employees</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

    function queryParams(params) {
        var branch1=$("#branch1 option:selected" ).val();
        var branch2=$("#branch2 option:selected" ).val();
        var branch3=$("#branch3 option:selected" ).val();
        var final = [branch1,branch2,branch3];
        params.search_extra = final.toString();
        return params;
    }

    $(document).ready(function(){
    var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#search_next").css('background-color',btn_background);
   $("#search_next").css('color',btn_text);
   $("#search_next").attr({'class':'w3-btn w3-border w3-small'});
    branch1data="{{branch1data}}";
    branch2data="{{branch2data}}";
    branch3data="{{branch3data}}";
    if(branch1data!=""){
        $("#branch1").val(branch1data);
    }

    $("#search_next").click(function(){
    $("#dub_table").bootstrapTable('refresh');
    })

    $("#branch1").change(function(){
    var branch1 = $("#branch1").val();
    $.ajax({
              type: "POST",
              dataType: 'json',
              async: true,
              cache: false,
              url: "/set_dub_filter/",
              data:{'branch1':branch1,'data':'branch1'},
              success: function(e){
              $("#branch2").empty();
              $("#branch2").append("<option value='select'>Select Branch2</option>");
              e.Data.forEach(function(element) {
              var opt="<option value='"+element+"'>"+element+"</option>";
              $("#branch2").append(opt);
            });

                                  },
        });
    })

    $("#branch2").change(function(){
    var branch2 = $("#branch2").val();
    $.ajax({
              type: "POST",
              dataType: 'json',
              async: true,
              cache: false,
              url: "/set_dub_filter/",
              data:{'branch2':branch2,'data':'branch2'},
              success: function(e){
              $("#branch3").empty();
              $("#branch3").append("<option value='select'>Select Branch3</option>");
              e.Data.forEach(function(element) {
              var opt="<option value='"+element+"'>"+element+"</option>";
              $("#branch3").append(opt);
            });

                                  },
        });
    })

    })

</script>

{% endblock %}