{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Preference{% endblock%}

{% block page_content %}

<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<table id="export_log_table" data-toggle="table" data-url="{{ url_for('main.export_log_data') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-page-size="10" data-show-refresh="true" data-show-export="true" data-search="true">
    <thead>
        <tr>
            <th data-field="Id">Id</th>
            <th data-field="type">TYPE</th>
            <th data-field="user_email">EMAIL</th>
            <th data-field="AID">AID</th>
            <th data-field="keywords">KEYWORDS</th>
            <th data-field="date">DATE</th>
            <th data-field="time">TIME</th>
        </tr>
    </thead>
</table>
{% endblock %}