{% extends "smart_buyer_matching.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AVKIS - KI-Suche{% endblock %}

{% block page_content %}
<div class="german">
<div class="page-header">
    <h1>Anzahl Stopworte eingeben</h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
    </div>
<script type="text/javascript">
$(document).ready(function(){

})
</script>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
