<html>
   <head>
      <title>iLux - Intelligent Software Solutions</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script>
       <link rel="stylesheet" type="text/css" href="https://rawgit.com/notryanb/highcharts_date_range_grouping/config-date-formats/dist/highcharts_date_range_grouping.css">
    <script src="https://cdn.rawgit.com/notryanb/highcharts_date_range_grouping/config-date-formats/dist/highcharts_date_range_grouping.min.js"></script>

   </head>
   
   <body>
   <div style="margin-left:30%"><button id="day" type="button" style="background-color:green;margin-left:10%;" class="buttons btn-success btn-lg">DAY</button>&nbsp;
       <button id="week" type="button" style="background-color:green" class="buttons btn-success btn-lg">WEEK</button>&nbsp;
       <button id="month" type="button" style="background-color:green" class="buttons btn-success btn-lg">MONTH</button>&nbsp;
       <button id="year"  type="button"  style="background-color:blue" class="buttons btn-success btn-lg">YEAR</button></div>
      <div id = "container" style = "width: 1250px; height: 550px; margin: 0 auto">

      </div>
      <script language = "JavaScript">
         $(document).ready(function() {
         color_list = {{color_list|tojson}};
         if ("{{enabled}}" == 'True'){
         enabled = true;
         }
         else{
         enabled = false;
         }
         if ("{{forced}}" == 'True'){
         forced = true;
         }
         else{
         forced = false;
         }
         if ("{{y_axis_visible}}" == 'True'){
         y_axis_visible = true;
         }
         else{
         y_axis_visible = false;
         }
         if ("{{y_axis_showempty}}" == 'True'){
         y_axis_showempty = true;
         }
         else{
         y_axis_showempty = false;
         }
         if ("{{y_axis_opposite}}" == 'True'){
         y_axis_opposite = true;
         }
         else{
         y_axis_opposite = false;
         }
           /*var seriesssss = [];
            {% for each in data_all %}
            var tt = "{{data_all[each]}}".split(",");
            final_tt = []
            $.each(tt,function(index,item){
            final_tt.push(parseInt(item));
            })
            var temp = {name:"{{each}}",data:final_tt};
            seriesssss.push(temp);
            {% endfor %}*/
            var chart = {
               zoomType: 'y',
               type:"{{graph_type}}",
               inverted:false,

            };
            var colorss = color_list;
            var title = {
               text: 'Monthly Average Temperature'   
            };
            var subtitle = {
               text: 'Source: WorldClimate.com'
            };
            x_val_list = {{ x_val_list|tojson }}
            var xAxis = {

               categories: x_val_list,
               title : {
               text: "{{x_axis_text}}",
               },
               showEmpty: y_axis_showempty,
               opposite:y_axis_opposite,
               visible:y_axis_visible
            };
            var yAxis = {
               title: {
                  text: "{{y_axis_text}}",
               },
               showEmpty: true,
               opposite:false,
               visible:true,
               plotLines: [{
                  value: 0,
                  width: 1,
                  color: 'yellow'
               }]
            };
            units = {{ units|tojson }};
            var plotOptions = {
               line: {
                  dataLabels: {
                     enabled: true
                  },
                  enableMouseTracking: false
               },
               column: {
               stacking: 'normal',
               },
               series: {
               dataGrouping:{enabled: enabled,
               forced:forced,
               units:units}
               }
            };
            var tooltip = {
               valueSuffix: "{{valueSuffix}}",
               valueDecimals:parseInt("{{valueDecimals}}")
            }
            var legend = {
               layout: 'horizontal',
               align: 'center',
               verticalAlign: 'bottom',
               borderWidth: 0
            };
             debugger;
             seriess = [];
            data1 =
               {% for each in y_val_list %}
                   valuesset=[]
                 {% for key, value in y_val_list[each].items() %}
                   valuesset.push({{value |tojson}})
                 {% endfor %}
                 cur_dict = {name : "{{each}}",data : valuesset}
                  seriess.push(cur_dict);

            {% endfor %}
            debugger;
           // data1 =[-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5];
           // data2 = [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5];
           //  data3 = [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0];
           //   data4 = [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8];

           // x_val_list.forEach(function(element){
           // cur_dict = {name : element, data : data1};
           // seriess.push(cur_dict);
           // })
            /*var seriess =  [{
                  name: 'Netzbezug',
                  data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 150.2, 26.5, 23.3, 18.3, 13.9, 9.6]
               }, 
               {
                  name: 'Eigennutzung',
                  data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
               }, 
               {
                  name: 'Einspeisung',
                  data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
               }, 
               {
                  name: 'Aussentemparatur',
                  data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
               }
            ];*/
            var json = {};
            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = seriess;
            json.colors = colorss;
            json.plotOptions = plotOptions;
            json.chart = chart;
            $('#container').highcharts(json);

            $("#day").click(function(){
            $(this).css('background-color','blue');
            $("#week").css('background-color','green');
            $("#month").css('background-color','green');
            $("#year").css('background-color','green');
            })
            $("#week").click(function(){
            $(this).css('background-color','blue');
            $("#day").css('background-color','green');
            $("#month").css('background-color','green');
            $("#year").css('background-color','green');
            })
            $("#month").click(function(){
            $(this).css('background-color','blue');
            $("#week").css('background-color','green');
            $("#day").css('background-color','green');
            $("#year").css('background-color','green');
            })
            $("#year").click(function(){
            $(this).css('background-color','blue');
            $("#week").css('background-color','green');
            $("#month").css('background-color','green');
            $("#day").css('background-color','green');
            })
            $(".buttons").click(function(){
            filter_by = $(this).attr('id');
            $.ajax({
                      type: "GET",
                      dataType: 'json',
                      async: true,
                      cache: false,
                      url: "/chart_data/",
                      data:{
                      'filter_by':filter_by,
                      'allyeardata':"{{allyeardata}}",
                      },
                      success: function(e){
                      xval=e.xAxis;
                      valtitle=e.graphtitle;
                      json.xAxis.categories = xval;
                      //json.xAxis.scrollbar.enabled = true;
                     // yAxis=e.yAxis;

                      seriess=e.yAxis;
                      //var seriess =  [{
                      //  name: 'Temperature',
                      //  data: yAxis,
                      //     scrollbar: {
                      //      enabled: true
                      //   },}
                   // ];

                      json.title.text = valtitle;
                      json.series = seriess;
                      $('#container').highcharts(json);
                      debugger;

                                          }
                });
                })
         });
      </script>
   </body>
   
</html>