<html>
   <head>
      <title>Highcharts Tutorial</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script>
       <link rel="stylesheet" type="text/css" href="https://rawgit.com/notryanb/highcharts_date_range_grouping/config-date-formats/dist/highcharts_date_range_grouping.css">
    <script src="https://cdn.rawgit.com/notryanb/highcharts_date_range_grouping/config-date-formats/dist/highcharts_date_range_grouping.min.js"></script>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/Evaluation.js') }}"> </script>
  <script type=text/javascript src="{{ url_for('static', filename='js/evaluation_calculation.js') }}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

   </head>

   <body>
    <ul class="nav nav-tabs " >
    <li class="active"><a data-toggle="tab"  align="center" style="background-color:yellow">welcome {{user12}}, <div class="greeting"></div></a></li>

    </ul>
<li >
    {% if session['logged_in'] == True %}
      <a style="margin-left:90%" href="/logout_graph">Logout <span class="sr-only">(current)</span></a>
    {% else %}
      <a  style="margin-left:90%" href="/graph_login">Login <span class="sr-only">(current)</span></a>
    {% endif %}
</li>
<br>
    <br>
    <br>
   <div style="margin-left:30%"><button id="day" type="button" style="background-color:green;margin-left:10%;" class="buttons btn-success btn-lg">DAY</button>&nbsp;
       <button id="week" type="button" style="background-color:green" class="buttons btn-success btn-lg">WEEK</button>&nbsp;
       <button id="month" type="button" style="background-color:green" class="buttons btn-success btn-lg">MONTH</button>&nbsp;
       <button id="year"  type="button"  style="background-color:blue" class="buttons btn-success btn-lg">YEAR</button></div>
      <div id = "container" style = "width: 950px; height: 500px; margin: 0 auto">

      </div>

      <script language = "JavaScript">
      var json = {};
      var thehours = new Date().getHours();
	var themessage;
	var morning = ('Good morning');
	var afternoon = ('Good afternoon');
	var evening = ('Good evening');

	if (thehours >= 0 && thehours < 12) {
		themessage = morning;

	} else if (thehours >= 12 && thehours < 17) {
		themessage = afternoon;

	} else if (thehours >= 17 && thehours < 24) {
		themessage = evening;
	}

	$('.greeting').append(themessage+" !!!!!");
         $(document).ready(function() {
           var seriesssss = [];
           // {% for each in data_all %}
          //    alert("{{data_all[each]}}");
          //  var tt = "{{data_all[each]}}".split(",");
          //  final_tt = []
          //  $.each(tt,function(index,item){
          //  final_tt.push(parseInt(item));
          //  })
          //   var temp = {name:"{{each}}",data:final_tt};
          //  seriesssss.push(temp);
          //  {% endfor %}
          xval=[]
          {% for each in data_all['xAxis'] %}
          xval.push("{{each}}");
           {% endfor %}
           yval=[]
           {% for each in data_all['yAxis'] %}
          yval.push(parseInt("{{each}}"));
           {% endfor %}

            var chart = {
               zoomType: 'y',
               type:'column',
               inverted:false
            };
            var title = {
               text: 'Previous 11 years Temperature'
            };
            var subtitle = {
               text: 'Temperature data'
            };


            var xAxis = {
                title: {
                  text: 'Year'
               },
               categories:xval,
               scrollbar:
               {
                     enabled: true
               }

            };
            var yAxis = {
               title: {
                  text: 'Temperature (\xB0C)'
               },
               scrollbar: {
                    enabled: true
               },
               plotLines: [{
                  value: 0,
                  width: 1,
                  color: 'green'
               }]
            };
            var plotOptions = {
               line: {
                  dataLabels: {
                     enabled: true
                  },
                  enableMouseTracking: false
               },
               column: {
               stacking: 'normal',
               }
            };
            var tooltip = {
               valueSuffix: '\xB0C'
            }
            var legend = {
               layout: 'vertical',
               align: 'center',
               verticalAlign: 'top',
               borderWidth: 0
            };

            var seriess =  [{
                  name: 'Temperature data',
                  data: yval,
                  
               }

            ];


            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = seriess;
            json.plotOptions = plotOptions;
            json.chart = chart;
            debugger;
            //var chart = Highcharts.chart('container', json);
            debugger;
            $('#container').highcharts(json);

            $("#day").click(function(){
            $(this).css('background-color','blue');
            $("#week").css('background-color','green');
            $("#month").css('background-color','green');
            $("#year").css('background-color','green');
            })
            $("#week").click(function(){
            // json.title = {text:"Hello"};
            $('#container').highcharts(json);
            $(this).css('background-color','blue');
            $("#day").css('background-color','green');
            $("#month").css('background-color','green');
            $("#year").css('background-color','green');
           // var chart = new Highcharts.Chart(json);
            })
            $("#month").click(function(){
            $(this).css('background-color','blue');
            $("#week").css('background-color','green');
            $("#day").css('background-color','green');
            $("#year").css('background-color','green');
            })
            $("#year").click(function(){
            $(this).css('background-color','blue');
            $("#week").css('background-color','green');
            $("#month").css('background-color','green');
            $("#day").css('background-color','green');
            })
            $(".buttons").click(function(){

            filter_by = $(this).attr('id');
           $.ajax({
                    type: "GET",
                     dataType: 'json',
                    async: true,
                    cache: false,
                    url: "/chart_data/",

                    data:{
                      'filter_by':filter_by,
                      'allyeardata':"{{allyeardata}}",
                     },
                     success: function(e){

                      xval=e.xAxis;
                      valtitle=e.graphtitle;
                      var xAxis = {
                        title: {
                           text: e.xtext
                          },
                              categories:xval,
                               scrollbar: {
                                    enabled: true
                                },
                              }

                      yAxis=e.yAxis;
                      var seriess =  [{
                        name: 'Temperature',
                        data: yAxis,
                           scrollbar: {
                            enabled: true
                         },}
                    ];
                    var title = {
                     text: valtitle
                     };

                      json.title = title;
                      json.xAxis = xAxis;
                      json.series = seriess;
                      $('#container').highcharts(json);
                      debugger;
                                        }
               });
               })
                debugger;
         });
      </script>
   </body>

</html>