{% extends "base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Willkommen bei AVANDIL</h1>
        <p>Datenbank: </p>
    </div>
</div>
{% endblock %}
