{% extends "bootstrap/base.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Willkommen bei AVANDIL</h1>
    </div>
    {% if current_user3.is_authenticated %}
        {%if datenbank %}
            <p>Datenbank: {{datenbank}}</p>
            {%if records %}
                <p>Datens&aumltze: {{records}}</p>
            {%endif%}
        {%else%}
            <p>Keine Datenbank ausgew&aumlhlt</p>
        {%endif%}
        <h1>Arbeitsschritte</h1>
            <p>1. Mandant analysieren: Unterst&uumltzt beim Auffinden von mandantenspezifischen Suchworten</p>
            <p>2. KI-Suche: Crefo-Nummer und Suchworte eingeben - Erzeugt eine Liste mit KI-Vorschl&aumlgen</p>
            <p>3. KI-Suche Exportieren: Erzeugt Spreadsheet mit Suchergebnissen (Vorher mu&suml eine KI-Suche durchgef&uumlhrt werden !)</p>
            <p>4. Ergebnisliste dann in Markus weiterbearbeiten zur Eingrenzung von Region und Gr&oumlssenordnungen (Turnover, Mitarbeiter)</p>
    {%endif%}
</div>
{% endblock %}

{% block admin %}
{% if is_admin %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Datenbank &oumlffnen</a></li>
            <li><a href="/Datenbank_Zeigen">Datenbank anzeigen</a></li>
            <li><a href="/Datenbank_Summary">Datenbank Summary</a></li>
            <li><a href="/Create_Stopwords">Stopw&oumlrter erzeugen</a></li>
            <li><a href="{{url_for("auth.register")}}">User anlegen</a></li>
        </ul>
    </li>
{% endif %}
{% endblock %}
