{% if origin == "001" %}
{% extends "smart_buyer_matching.html" %}
{% elif origin == "002" %}
{% extends "buyer_portal.html" %}
{% elif origin == "003" %}
{% extends "manual_company.html" %}
{% endif %}

{% block title %}AVANDIL{% endblock %}


{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Home Page</title>
<script type="text/javascript">
$(document).ready(function(){
error = "{{error}}";
if (error){
alert(error);
}
 $("#language").val("{{language}}").change();
 var lang = $("#language").val();
 if (lang == 'english'){
        $(".german").css('display','none');
        $(".english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".english").css('display','none');
        $(".german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
 $( "#language" ).change(function() {
    var lang = $("#language").val();
    if (lang == 'english'){
        $(".german").css('display','none');
        $(".english").css('display','inline');
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
    else if (lang == 'german'){
        $(".english").css('display','none');
        $(".german").css('display','inline');
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }
    $.ajax({
          type: "GET",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_language/",
          data:{
          'lang':lang,
          },
          success: function(e){
                              }
    });

        })

    $("#testid").submit(function() {
    if ($("#database").val().slice(-3) != '.db'){
   //  alert($("#database").val());
     alert("You can select only db file");
     return false;
     }

     return true;
    })

 })
 function german_format(num){
                 var k="";
            if (!num){
            num=0;
            }
            var a=num.toString();
            if (a.indexOf(".") != -1){
            var k = a.slice(a.indexOf(".")+1,a.indexOf(".")+4);
            var a = a.slice(0,a.indexOf("."));
            }
            var i=a.length;
            var b="";
            var c=0;
            while(i--){
            if(c%3==0 && c != 0){
            b=b+".";
            }
            c=parseFloat(c)+1;
            b=b+a.charAt(i);
            }
            final_ans = b.split("").reverse().join("");
            if (final_ans.replace(" ","").replace(".","").length <= 3){
            final_ans=final_ans.replace(".","");
            }
            if (final_ans.slice(0,2) == " ." ){
            final_ans = " " + final_ans.slice(2);
            }
            return final_ans;
  }

  function LinkFormatter(Count) {
  return german_format(Count);
}

  function LinkFormatter1(Country) {
            Count = german_format(Country.split(" -")[1]);
            final = Country.split(" -")[0] + " -" + Count;
            return final;
            }

 </script>
<style>
    .boxed1 {
    border: 1px solid;
    padding: 2%;
    padding-left:4%
    }

    .boxed2 {
    border: 1px solid;
    }
    .table td.fit,
   .table th.fit {
    white-space: nowrap;
    width: 0%;
}


    table {
    font-size : 14px;
    }
</style>
<div class="container" style="font-family:Calibri;>
<div class="german row">
    <div class="col-sm-7">
    <div class="page-header">
        <h2><b>SAMARYS, the smart M&A company matching app, creates a longlist of potential buyers for your Client</b> </h2>
        <br>
        <ul>
           <li> samarys identifies companies doing similar business as your Client</li>
           <li> samarys generates a list of matching companies, ranked with a descending matching index or similarity score to your Client</li>
<!--            <li>samarys matching is based on the firms business activity key terms </li>-->
<!--            <li>samarys generates a ranked list and prioritizes matches with a descending matching score </li>-->
</ul>
    </div>

        {%if datenbank %}
            <p>Datenbank: {{datenbank}}</p>
            {%if records %}
                <p>Datens&aumltze: {{records}}</p>
            {%endif%}
        {%else%}

            {% if dbpresent == "no" %}
            <p>Keine Datenbank ausgew&aumlhlt</p>
            {% endif %}

        {%endif%}
        <div class="boxed1" style="font-family: Calibri;">
        <p>samarys matches based on the keywords of the companies´ business activity description, regardless of possible wrong branch code allocations. The matching results will return best results if you input relevant, industry-specific or activity-specific keywords. To help you find more keywords, samarys extracts words from your Clients´ competitors websites or related industry association websites and proposes you a list from which you can choose the relevant ones.</p>
           <p>How-To:</p>
            <ol>
            <li> Search & Select: Select first your Client by name or AID/CrefoID. For a recommended accurate match, select up to 5 more competitors doing similar business. Alternatively, start a quick match directly.</li>
            <li> Keyword Analysis: The app collects all keywords of the websites of your selected companies. You can even add manually more websites (e.g. of branch associations). Easily view and select the relevant business activity keywords for best matching results.</li>
            <li> Matching: Add manually other keyword you might consider relevant (e.g. taken from the MAKTE or the ones proposed by your client). No need to use word stems with an asterisc (*). Start the matching process.</li>
            <li> The matching returns a list of companies, ranked by similarity of business activity to your client. Export your longlist of matching. Finetune the longlist in Markus with parameters like turnover, Region or employees.</li>
          </ol>
        </div>
    </div>
    <div class="col-sm-5">
        <br>
        <br>
        <p align="right" style="font-family: Calibri;"><b>Count of search profiles :</b> {{ total_crawl_count }}</p>
        <table id="bundesland_stat_table"  data-toggle="table" data-url="{{ url_for('main.bundesland_stat_data') }}"
       data-side-pagination="server"   class="boxed2" data-detail-formatter="detailFormatter" data-detail-view="true">
        <thead>
                <tr>
                    <th data-field="Country" class="table-responsive-xl" data-formatter="LinkFormatter1" style=" border-width: 0;padding: 6px !important;border: 0;">Country</th>
                    <!--th data-field="Count" class="table-responsive-xl text-right" style="border:0;padding: 6px !important;border: 0;" data-formatter="LinkFormatter" >Count</th-->
                </tr>
            </thead>
        </table>
    </div>
<div class="col-sm-5">
    <table id="branchwise_data_table" data-toggle="table" data-url="{{ url_for('main.branchwise_crawl_data') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-page-size="30" data-show-export="true" data-show-refresh="true">
    <thead>
        <tr>
            <th data-field="branch">Branch</th>
            <th data-field="Count">Count</th>
        </tr>
    </thead>
    </table>
</div>
    <script type="text/javascript">
        function detailFormatter(index, row) {
        var html = [];
        html.push('<table class="table table-striped">');
        $.each(row, function (key, value) {
        if(key == 'data'){
        $.each(value, function (index, values){
        html.push(
        '<tr>',
        '<td>'+values.state+'</td>',
        '<td>'+german_format(values.Count)+'</td>',
        '</tr>');
        })
        }
        })



        html.push('</table>');
        $.each(row, function (key, value) {});
        return html.join('');
        }
    </script>
</div>


<div class="english" style="font-family: Calibri;display:none">
    <div class="page-header">
        <h1 style="font-family: Calibri;">Welcome to AVANDIL</h1>
    </div>

        {%if datenbank %}
            <p>Database: {{datenbank}}</p>
            {%if records %}
                <p>Database Size: {{records}}</p>
            {%endif%}
        {%else%}
            <p>No Database Selected</p>
        {%endif%}
        <h1>Work Steps</h1>
            <p>1. Analyse client: supports identification of client-specific key words</p>
            <p>2. Investor search: Enter Crefo-Count and key words - generates a list with potential investors</p>
            <p>3. Export Invsetor list: Generates a spreadsheet with search results (you have to run an investor search beforehand) !)</p>
            <p>4. Result list has then to be prepared further in the external Markus database in order to filter for regions business size (Tunrover, Employees)</p>

</div>
</div>


{% endblock %}

{% block admin %}
{% if language == 'german' %}
{% if is_admin %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Datenbank &oumlffnen</a></li>
            <li><a href="/Datenbank_Zeigen">Datenbank anzeigen</a></li>
            <li><a href="/Datenbank_Summary">Datenbank Summary</a></li>
            <li><a href="/Create_Stopwords">Stopw&oumlrter erzeugen</a></li>
            <li><a href="{{url_for("auth.register")}}">User anlegen</a></li>
            <li><a href="/auth/change_password">Change Password</a></li>
            <li><a href="/auth/change_database">Change Database</a></li>
            <li><a href="/auth/logout">Logout ({{ user }})</a></li>
        </ul>
    </li>
{% endif %}
{% else %}
{% if is_admin %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Open Database</a></li>
            <li><a href="/Datenbank_Zeigen">Show Database</a></li>
            <li><a href="/Datenbank_Summary">Database Summary</a></li>
            <li><a href="/Create_Stopwords">Show Stop Words</a></li>
            <li><a href="{{url_for("auth.register")}}">Create User</a></li>
            <li><a href="/change_password">Change Password</a></li>
            <li><a href="/auth/change_database">Change Database</a></li>
            <li><a href="/auth/logout">Logout ({{ user }})</a></li>
        </ul>
    </li>
{% endif %}

{% endif %}
<script type="text/javascript">
    </script>
{% endblock %}
