{% extends "smart_buyer_matching.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<style>
     .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td
    {
    padding: 6px !important;
    border: 0;
    font-family: Calibri;
    }
</style>
<style>
.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    padding: 16px;

}
.container {
 // display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.8s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  z-index:5;
  padding: 1%;
  border: 1px #524848 solid;
  border-radius: 15px;
  position: absolute;
  background: lightgrey;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
.col-sm-12 {
     width: 100%;
    margin-top: 1%;
}
.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    padding: 4px;
}
</style>
<li class="dropdown" id="admin_tab_german">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Administration <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Datenbank_Oeffnen">Datenbank &oumlffnen</a></li>
            <li><a href="/Datenbank_Zeigen">Datenbank anzeigen</a></li>
            <li><a href="/Datenbank_Summary">Datenbank Summary</a></li>
            <li><a href="/Create_Stopwords">Stopw&oumlrter erzeugen</a></li>
            <li><a href="{{url_for('auth.register')}}">User anlegen</a></li>
            <li><a href="/auth/change_password">Change Password</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </li>
<br>
<br>
<t style="font-size:12px;margin-left:2%"><b><u>MATCHING – RESULTS</u></b>
    <br>
    <t style="margin-left:2%">List of companies with a business activity matching the keywords you selected previously.  (or matching your Client and the additional keywords you selected). Fine tune the result before export.</t>
    <div class="col-sm-12">


        <div class="col-sm-6">

                           <!--   <div class="bar1"></div>
                              <div class="bar2"></div>
                           <div class="bar3"></div>-->
         <div class="col-sm-12" style="margin-left: -5.5%;">
            <div class="col-sm-6">
               <span class="glyphicon glyphicon-filter"></span>  <button id="show" data-toggle="collapse" data-target="#filtercontent">SHOW</button> </div>





            <div class="col-sm-6">
                </div>
        </div>
        </div>

       <div class="col-sm-6">
             <a href="/KI_Export" id="ki_export"><button class="w3-button" style="margin-top: 2px; margin-left: 10%" id="ki_export1"  >Export to Excel</button></a><br>


       </div>
  </div>
<br>
<div id="filtercontent"  style="background-color:lightgrey;padding:0%;font-size:12px;margin-left:2%"  class="col-sm-12 container collapse"  >
   <div class="col-sm-12">

       <div class="col-sm-12">
           <div class="col-sm-4">
                <b><u>Regions</u></b>
           </div>
           <div class="col-sm-8">
               <div class="multiselect">
                    <div class="selectBox" id="selectBoxs" onclick="showCheckboxes()">
                         <select>
                            <option>Select an Regions</option>
                         </select>
                         <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                          <label placeholder="Baden-Württemberg">
                            <input type="checkbox" class='states' name="Baden-Württemberg_state" value="Baden-Württemberg">&nbsp;&nbsp;Baden Wurttemberg</label>
                          <label placeholder="Bayern">
                            <input type="checkbox" class='states' name="Bayern_state" value="Bayern">&nbsp;&nbsp;Bayern</label>
                          <label placeholder="Berlin">
                            <input type="checkbox" class='states' name="Berlin_state" value=" Berlin">&nbsp;&nbsp;Berlin</label>
                          <label placeholder="Brandenburg">
                            <input type="checkbox" class='states' name="Brandenburg_state" value="Brandenburg">&nbsp;&nbsp;Brandenburg</label>
                        <label placeholder="Bremen">
                            <input type="checkbox" class='states' name="Bremen_state" value="Bremen">&nbsp;&nbsp;Bremen</label>

                        <label placeholder="Hamburg">
                            <input type="checkbox" class='states' name="hamburg_state" value="Hamburg">&nbsp;&nbsp;Hamburg</label>
                        <label placeholder="Hessen">
                            <input type="checkbox" class='states' name="hessen_state" value="Hessen">&nbsp;&nbsp;Hessen</label>
                        <label placeholder="Mecklenburg-Vorpommern">
                            <input type="checkbox" class='states' name="Mecklenburg-Vorpommern_state" value="Mecklenburg-Vorpommern">&nbsp;&nbsp;Mecklenburg Vorpommern</label>
                        <label placeholder="Niedersachsen">
                            <input type="checkbox" class='states' name="Niedersachsen_state" value="Niedersachsen">&nbsp;&nbsp;Niedersachsen</label>
                          <label placeholder="Nordrhein-Westfalen">
                           <input type="checkbox" class='states' name="Nordrhein-Westfalen_state" value="Nordrhein-Westfalen">&nbsp;&nbsp;Nordrhein Westfalen</label>

                          <label placeholder="Rheinland-Pfalz">
                            <input type="checkbox" class='states' name="Rheinland-Pfalz_state" value="Rheinland-Pfalz">&nbsp;&nbsp;Rheinland Pfalz</label>
                        <label placeholder="Saarland">
                            <input type="checkbox" class='states' name="saarland_state" value="Saarland">&nbsp;&nbsp;Saarland</label>
                        <label placeholder="Sachsen">
                            <input type="checkbox" class='states' name="Sachsen_state" value="Sachsen">&nbsp;&nbsp;Sachsen</label>
                          <label placeholder="Schleswig-Holstein">
                            <input type="checkbox" class='states' name="Schleswig-Holstein_state" value="Schleswig-Holstein">&nbsp;&nbsp;Schleswig Holstein</label>



                          <label placeholder="Sachsen-Anhalt">
                            <input type="checkbox" class='states' name="Sachsen-Anhalt_state" value="Sachsen-Anhalt">&nbsp;&nbsp;Sachsen Anhalt</label>
                          <label placeholder="Thüringen">
                            <input type="checkbox" class='states' name="thuringia_state" value="Thüringen">&nbsp;&nbsp;Thuringen</label>
                    </div>
               </div>
           </div>
       </div><br><br>
       <div class="col-sm-12">
           <div class="col-sm-4">
                <b><u>Turnover (EUR)</u></b>
           </div>
           <div class="col-sm-8">
                <input type="text" value="" placeholder="min Turnover(Euro)" name="from_range_umsatz" id="from_range_umsatz">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="max Turnover(Euro)" value="" name="to_range_umsatz" id="to_range_umsatz">
                &nbsp;&nbsp;<input type="radio" name="all_any" value="all" >ALL
                &nbsp;&nbsp;<input type="radio" name="all_any" value="any" id="any" checked>ANY
           </div>
       </div> <br><br>
       <div class="col-sm-12">
           <div class="col-sm-4">
                <b><u>Employees</u></b>
           </div>
           <div class="col-sm-8">
               <input type="text" value=""  placeholder="min. employees" name="from_range_mitarbeiter" id="from_range_mtarbeiter">
        &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value=""  placeholder="max. employees" name="to_range_mitarbeiter" id="to_range_mtarbeiter">
                &nbsp;&nbsp;<input type="radio" name="mitarbeiter_all_any" value="all" >ALL
                &nbsp;&nbsp;<input type="radio" name="mitarbeiter_all_any" value="any" id="any1" checked>ANY
           </div>
       </div><br><br>
        <div class="col-sm-12">
            <b>&nbsp;&nbsp;&nbsp;&nbsp;For year/years  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                {% for each_year in last_5_years %}
            <input type="checkbox" class="yrs" value={{each_year}} name={{"years"+each_year}}>{{each_year}}
            {% endfor %}
                <br>
       </div>
       <div class="col-sm-12">
            <div class="col-sm-12">
                <b>Select the first  &nbsp;&nbsp;&nbsp;  </b>&nbsp;<input id="nor" placeholder="Number of Records"/>&nbsp;&nbsp;
               <b>   Companies  &nbsp;&nbsp;&nbsp;  </b><button id="filter_action" style="margin-left:5%;">Filter</button>&nbsp;&nbsp;&nbsp;<button id="unfilter_action">Unfilter</button>&nbsp;<input style="display:none" id="zero" type="radio" name="zero-one" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input style="display:none" id="two" type="radio" name="zero-one" style="display:none">&nbsp;
               <input style="display:none" id="from" placeholder="From Range"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="display:none" id="to" placeholder="To Range"/>&nbsp;
                <br><br>
       </div><br><br>
       </div>
       <div class="col-sm-12">
        <div class="col-sm-12">
<!--        <br><B> Keyword search (separate by blankspaces). Uses boolean OR function (i.e. searches for any word)</B><br>-->
        </div>
        </div>

   </div>
</div>
    </t>
<br><br>
<div class="col-sm-12" style="padding:2%">
<button id="unselect_all" hidden>UNSELECT ALL</button>
</div>
</div>
<table id="kisuche_table" data-toggle="table" data-url="{{ url_for('main.get_kisuche_data') }}?AID={{AID}}&all={{all}}&search_word={{search_word}}&from_range_umsatz={{from_range_umsatz}}&to_range_umsatz={{to_range_umsatz}}&from_range_mitarbeiter={{from_range_mitarbeiter}}&to_range_mitarbeiter={{to_range_mitarbeiter}}&years={{years}}&state_list={{state_list}}&all_any={{all_any}}&ki_ergebnis={{ki_ergebnis}}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
      data-page-size="50"  data-query-params="queryParams" style="width:100%">
    <col width="3%">
    <col width="5%">
    <col width="5%">
    <col width="15%">
    <col width="55%">
    <col width="25%">
    <thead>
        <tr>
            <th data-field="Company" data-formatter="LinkFormatter"><input type="checkbox" onclick="myFunction()" id="chkall" name="chkBestSeller" /></th>
            <th data-field="Value" >Match</th>
            <th data-field="bcc">BCC</th>
            <th data-field="Name" >Company</th>
            <th data-field="Business_Activity" >Activity</th>
            <!--<th data-field="primary_bc">Primary Branch Code</th>
            <th data-field="secondary_bc">secondary Branch Code</th>-->
            <th data-field="branch_code">Branches (Primary / Secondary)</th>

        </tr>
    </thead>
</table>
<div id="search_word" style="display:none">
    {{ search_word }}
</div>
<style>
    #kisuche_table{
    margin-left:2%;
    margin-right:2%;
    }
</style>
<script type="text/javascript">
i=0;
function myFunction(x)
{

//debugger;
if (String($("#chkall").prop('checked'))=="true")
 {  $(".aid_select").prop('checked',true);
 $("#chkall").prop('checked',true);
  unchecked_id=[];
  selected_aid="all"
  }
  else{
   $(".aid_select").prop('checked',false);
   $("#chkall").prop('checked',false);
  selected_aid="notall"
  }
}
function myFunction1(x)
{

  x.classList.toggle("change");
  $("#filtercontent").toggle();
}
$("#p").click(function(){
    $("#adv1").toggle();
});
var earliercount=0;
var expanded = false;
$(document).on('click', function (event) {
  if (!$(event.target).closest('#selectBoxs,#checkboxes').length) {
    // ... clicked on the 'body', but not inside of #menutop
    var checkboxes = document.getElementById("checkboxes");
    checkboxes.style.display = "none";
    expanded = true;
       showCheckboxes();
  }


});

function showCheckboxes()
{
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    var favorite = [];
            $.each($("input[class='states']:checked"), function(){
                favorite.push($(this).val());});


    if(favorite.length>0)
    {
    $('select option:contains("Select an Regions")').text(favorite.length+" regions selected ");
    str=earliercount+" regions selected";
    $('select option:contains('+str+')').text(favorite.length+" regions selected ");
    earliercount=favorite.length;
    }
    else
    {
    str=earliercount+" regions selected";
    $('select option:contains('+str+')').text("Select an Regions");
    earliercount=favorite.length;
    }
    checkboxes.style.display = "none";
    expanded = false;
  }
}


var selected_aid=[];
var unchecked_id=[]
function queryParams(params) {
        params.from_ranges = $("#from").val();
        params.to_ranges = $("#to").val();
        params.nors = $("#nor").val();
        params.is_zeros = $("#zero")[0].checked;
        params.is_twos = $("#two")[0].checked;
        var favorite = [];
            $.each($("input[class='states']:checked"), function(){
                favorite.push($(this).val());});
        var yrlist = [];
            $.each($("input[class='yrs']:checked"), function(){
                yrlist.push($(this).val());});
        favorite="["+favorite+"]"
        yrlist="["+yrlist+"]"
        params.states=favorite;
        params.yrslists=yrlist;
        var all_any = $("input[name='all_any']:checked").val();
        var mitarbeiter_all_any = $("input[name='mitarbeiter_all_any']:checked").val();
        params.mitarbeiter_all_any=mitarbeiter_all_any;
        params.all_anys=all_any
        params.from_range_umsatzs=$("#from_range_umsatz").val();
        params.to_range_umsatzs=$("#to_range_umsatz").val();
        params.from_range_mitarbeiters=$("#from_range_mtarbeiter").val();
        params.to_range_mitarbeiters=$("#to_range_mtarbeiter").val();
        return params;
}
function counter(chk) {
i+=1;
if(i>export_count){
alert("You cannot check more than specified limit")
$(chk).prop('checked', false);
return false;
}

if($(chk).is(":checked")){
  debugger;
  selected_aid.push(chk.id);

  }
  else{
  if(selected_aid=="all" && !($(chk).is(":checked")))
  {
  unchecked_id.push(chk.id);
  }
  if(selected_aid!="all"){
  selected_aid=selected_aid.filter(function(item){return item != $(chk).next().html()});
  }


  }


}


function LinkFormatter(Company) {
  final = "<input type='checkbox' class='aid_select' id='"+Company+"' style='margin-left: 35%;' onclick='counter(this)'/>&nbsp;<span style='padding:20%'></span>";
  return final;
}




$("#filter_action").click(function(){
$("#kisuche_table").bootstrapTable('refresh');
})


$(document).on('click', "button#advance_filter", function() {
$("#adv").toggle();
});

$("#unfilter_action").click(function(){
$("#from").val("");
$("#to").val("");
$("#nor").val("");
$('#zero').prop('checked', false);
$('#two').prop('checked', false);
$("#from_range_umsatz").val("");
$("#to_range_umsatz").val("");
$("#to_range_mtarbeiter").val("");
$("#from_range_mtarbeiter").val("");
$('input:checkbox.states').removeAttr('checked');
$('input:checkbox.yrs').removeAttr('checked');
$("#any").prop("checked", true);
$("#any1").prop("checked", true);
$("#kisuche_table").bootstrapTable('refresh');
})

$(document).ready(function(){

  var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#advance_filter,#filter_action,#unfilter_action,#show,#select_all,#unselect_all,#p,#ki_export1,#salesforce_export1").css('background-color',btn_background);
   $("#advance_filter,#filter_action,#unfilter_action,#show,#select_all,#unselect_all,#p,#ki_export1,#salesforce_export1").css('color',btn_text);
   $("#advance_filter,#filter_action,#unfilter_action,#show,#select_all,#unselect_all,#p,#ki_export1,#salesforce_export1").attr({'class':'w3-btn w3-small'});
  export_count = "{{ export_count }}";


$("#show").click(function(){
    var lable = $("#show").html();
    if(lable == "SHOW") {
    $("#show").html("HIDE");
    }

   else {
      $("#show").html("SHOW");
   }
   })


    $("#zero").change(function(){
     if ($(this)[0].checked == true){
     $('#two').prop('checked', false);
     }
     })

  $("#two").change(function(){
     if ($(this)[0].checked == true){
     $('#zero').prop('checked', false);
     }
     })



  var new_aids = [];
  $(".aid_select").change(function(){
  if(!$(this).is(":checked")){
  remove_aid.push(this.id);
  }
  else{
  remove_aid=remove_aid.filter(function(item){return item != $(this).parent().next().html()});
  }
  })

  $("#ki_export").click(function(){

  if(selected_aid != 0){
  }
  else{
  alert("Please select atleast one AID");
  return false;
  }
  if(unchecked_id.length==0)
  {
  unchecked_id="Zero";
  }
  var ki_href = $(this).attr('href') + "/" + "{{ AID }}" + "/" + selected_aid + "/" + unchecked_id;
  if("{{ search_word }}"){
  var ki_href = ki_href + "/" + "{{ search_word }}";
  }
  else {
  var ki_href = ki_href + "/" + "none";
  }
  $(this).attr('href',ki_href);
   })

  $("#salesforce_export").click(function(){
  if("{{ search_word }}"){
  var search_word = "{{ search_word }}";
  }
  else {
  var search_word = "none";
  }
  aid_list = []
   $( 'tbody').children('tr').each(function() {
    if($(this).children('td').html() && $(this).children('td').children('input').attr('checked') == 'checked'){
   aid_list.push($(this).children('td').children('span').html());
   }
   })
   remove_aid.forEach(function(vari){
   aid_list=aid_list.filter(function(item){return item != vari})
   })
   var sale_href = $(this).attr('href') + "/" + aid_list + "/" + "{{ AID }}" + "/" + search_word;
   $(this).attr('href',sale_href);
   })



  if ("{{is_admin}}"){
   if("{{language}}" == "german"){
   var admin_tab = $("#admin_tab_german").html();
   $(admin_tab).insertAfter("#language")
   }
   else{
   var admin_tab = $("#admin_tab_english").html();
   $(admin_tab).insertAfter("#language")
   }
   }
   $("#admin_tab_german").remove();
   $("#admin_tab_english").remove();
  $("#language").val("{{language}}").change();
  lang = $("#language").val();
  if (lang == 'english'){
        $(".germanhead").css('display','none');
        $(".englishhead").css('display','inline');
        }
   else if (lang == 'german'){
        $(".germanhead").css('display','inline');
        $(".englishhead").css('display','none');
        }

});
  $("#ki_export_german,#ki_export_english").click(function(){
    var search_word=$("#search_word").html();
    var export_final = "/KI_Export/?searchword_val="+search_word;
    $("#ki_export_german,#ki_export_english").attr("href",export_final);
      })

  $("#select_all").click(function(){
  $(".aid_select").prop('checked',true);
  unchecked_id=[];
  selected_aid="all"
  })
  $("#unselect_all").click(function(){
  $(".aid_select").prop('checked',false);
  selected_aid="notall"
  })
$('input[name="chkBestSeller"]').click(function () {

    alert("Thanks for checking me");

});

</script>
{% endblock %}
