{% extends "buyer_portal.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Nexxt change Filter{% endblock%}

{% block page_content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Nexxt Change Data</title>
<div class="container">
<form novalidate id="send_intimation_form" method=post class="form-horizontal" action="/send_intimation/Next-Change" role="form" enctype="multipart/form-data">
  <div class="modal fade" id="intimation_form" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">CONTACT BUYERS</h4>
        </div>
        <div class="modal-body">
            <input type="text" id="name_number"/><br><br>
            <select id="fiche_search" onchange="option_select(this)"><option value="select_fiche">Select Fiche</option> </select>
            <!--p>Fiche Name</p>
            <select id="fiche_num">
            {% for each_fiche in fiche_det %}
            <option value="{{ each_fiche.Fiche_Number }}">{{ each_fiche.Fiche_Number }}</option>
            {% endfor %}
            </select>
            <p>Fiche Name</p>
            <input type="text" id="Fiche_Name"/>
            <p>Fiche Desc</p>
            <input type="text" id="fiche_desc"/-->
            <p>To</p>
            <textarea class="form-control to_email" id="to_email" name="to_email"></textarea>
            <p>Subject</p>
            <textarea class="form-control subject" id="subject" name="subject" readonly></textarea><br>
            Please note that the subject line shows only an exemplary Chiffre and updates for all your chosen chiffres automatically<br>
          <p>Enter E-Mail Body Here</p>
            <textarea class="form-control body" id="body" name="body" readonly>This is the test email</textarea>
            <br><p>Attachment 1 : <input type="file" id="file1" name="file1"/></p>
            <br><p>Attachment 2 : <input type="file" id="file2" name="file2"/></p>
            <br><p>Attachment 3 : <input type="file" id="file3" name="file3"/></p>
            <textarea class="form-control chiffres" id="chiffres" name="chiffres" style="display:none"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" data-dismiss="modal" id="send_email_button">SEND EMAIL</button>
        </div>
      </div>

    </div>
  </div>

</form>

</div>

<select id="Branch_Level1">
    <option value="select" selected>Select Sektor</option>
    {% for each_sektor in Branch_Level1 %}
    <option value="{{ each_sektor }}">{{ each_sektor }}</option>
    {% endfor %}
</select>
{% if rubrikdata == "" %}
<select id="Branch_Level2">
    <option value="select" selected>Select Rubrik</option>
</select>
{% else %}
   <select id="Branch_Level2">
    <option value="{{ rubrikdata }}" selected>{{ rubrikdata }}</option>
</select>
{% endif %}
{% if einzelbranchedata == "" %}
<select id="Branch_Level3">
    <option value="select" selected>Select Einzelbranche</option>
</select>
{% else %}
<select id="Branch_Level3">
    <option value="{{einzelbranchedata}}" selected>{{einzelbranchedata}}</option>
</select>
{% endif %}
<button id="search_next">SEARCH</button>
<button id="select" type="button" data-toggle="modal" onclick="selectall()">SELECT ALL</button>
<button id="unselect" type="button" data-toggle="modal" onclick="unselectall()">UNSELECT ALL</button>
<button type="button" data-toggle="modal" data-target="#intimation_form" id="send_intimation">CONTACT BUYERS</button>


<table id="nexxt_change_table" data-toggle="table" data-url="{{ url_for('main.get_nextchange_data') }}?&nor={{nor}}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-search="true" data-page-size="10" data-show-export="true" data-query-params="queryParams">
    <thead>
        <tr>
            <th data-field="Id"  data-formatter="LinkFormatter">ID</th>
            <th data-field="daturn" data-sortable="true">Datum</th>
            <th data-field="Chiffre" data-sortable="true">Chiffre</th>
            <th data-field="Description" data-sortable="true">Description</th>
            <th data-field="Count_Employees" data-sortable="true">Count Employees</th>
            <th data-field="Last_Turnover" data-sortable="true">Last Turnover/Year</th>
            <th data-field="Asking_Price" data-sortable="true">Asking_Price</th>
            <th data-field="Email" data-sortable="true">Email</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
var email_sub = "{{email_sub}}";
intimation_ids=[];
chiffres=[];
function process_ids(obj){
    if (obj.checked == true)
    {
        intimation_ids.push(obj.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.innerHTML);
        var s= document.getElementById("to_email");
        s.value = intimation_ids;
        chiffres.push(obj.parentNode.nextSibling.nextSibling.innerHTML);
        var r= document.getElementById("chiffres");
        r.value = chiffres;
    }
    else if(obj.checked == false)
    {
        var index=intimation_ids.indexOf(obj.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.innerHTML)
        if (index > -1 )
        {
            intimation_ids.splice(index,1);
        }
        var s= document.getElementById("to_email");
        s.value="";
        s.value = intimation_ids;

         var index_=chiffres.indexOf(obj.parentNode.nextSibling.nextSibling.innerHTML)
         if (index_ > -1 )
         {
            chiffres.splice(index_,1);
         }
         var r= document.getElementById("chiffres");
         r.value="";
         r.value = chiffres;
    }
    else{}
}
function option_select(this_obj){
cur_value = this_obj.value;
cur_value = cur_value.split(" ")[0];
email_sub_final = email_sub.replace("fichenumber",cur_value);
fich_num = $("#fiche_search").val();
fich_num = fich_num.split(" ")[0];
$.ajax({
          type: "POST",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/get_fichebiz_location/",
          data:{'fiche_num':fich_num},
          success: function(e){
                    email_sub_final = email_sub_final.replace("bizpurpose",e.bizpurpose).replace("location",e.location);
                    $("#subject").val(email_sub_final);
                    var action="/send_intimation/nexxt-change.org/"+email_sub_final+"/"+fich_num;
                    $("#send_intimation_form").attr("action",action);
                              },
    });
}
function selectall()
{
  checkboxes = document.getElementsByName('check');
  for(var i=0, n=checkboxes.length;i<n;i++)
  {
    checkboxes[i].checked = true;
    process_ids(checkboxes[i]);
  }
}
function unselectall()
{
  checkboxes = document.getElementsByName('check');
  for(var i=0, n=checkboxes.length;i<n;i++)
  {
    checkboxes[i].checked = false;
    process_ids(checkboxes[i]);
  }
}
function LinkFormatter(Id)
{
  final = "<input type='checkbox' name='check' onclick='process_ids(this)' class='search_ids' value='"+Id+"'/>";
  return final;
}

function queryParams(params) {
        var Branch_Level1=$("#Branch_Level1 option:selected" ).val().replace(",",";");
        var Branch_Level2=$("#Branch_Level2 option:selected" ).val().replace(",",";");
        var Branch_Level3=$("#Branch_Level3 option:selected" ).val().replace(",",";");
        var final = [Branch_Level1,Branch_Level2,Branch_Level3];
        params.search_extra = final.toString();
        return params;
}


$(document).ready(function(){

var btn_background = "{{ btn_background }}";
var btn_text = "{{ btn_text}}";
$("#search_next,#send_intimation,#send_email_button,#select, #unselect").css('background-color',btn_background);
$("#search_next,#send_intimation,#send_email_button,#select, #unselect").css('color',btn_text);
$("#search_next,#send_intimation,#send_email_button,#select, #unselect").attr({'class':'w3-btn w3-border w3-small'});
$("#subject").val(email_sub);
$("#body").val("{{email_body}}");
sektordata="{{sektordata}}";
rubrikdata="{{rubrikdata}}";
einzelbranchedata="{{einzelbranchedata}}";
if(sektordata!=""){
$("#Branch_Level1").val(sektordata);
}


$("#search_next").click(function(){
$("#nexxt_change_table").bootstrapTable('refresh');
})

$("#send_email_button").click(function(){
$("#send_intimation_form").submit();
})

$("#Branch_Level1").change(function(){
var sek = $("#Branch_Level1").val();
$.ajax({
          type: "POST",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_next_change_filter/",
          data:{'Branch_Level1':sek,'data':'sek'},
          success: function(e){
          $("#Branch_Level2").empty();
          $("#Branch_Level2").append("<option value='select' selected>Select Rubrik</option>");
          e.Data.forEach(function(element) {
          var opt="<option value='"+element+"'>"+element+"</option>";
          $("#Branch_Level2").append(opt);
        });

                              },
    });
})
$("#Branch_Level2").change(function(){
var rub = $("#Branch_Level2").val();
$.ajax({
          type: "POST",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_next_change_filter/",
          data:{'Branch_Level2':rub,'data':'rub'},
          success: function(e){
          $("#Branch_Level3").empty();
          $("#Branch_Level3").append("<option value='select' selected>Select Einzelbranche</option>");
          e.Data.forEach(function(element) {
          var opt="<option value='"+element+"'>"+element+"</option>";
          $("#Branch_Level3").append(opt);
        });

                              },
    });
})

$("#fiche_num").change(function(){
var fiche_num = $("#fiche_num").val();
$.ajax({
          type: "POST",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/set_fiche_details/",
          data:{'fiche_num':fiche_num},
          success: function(e){
          $("#fiche_desc").val(e.Data[0]);
          $("#Fiche_Name").val(e.Data[1]);
        },
    });
})
$("#name_number").change(function(){
var fiche_term = $("#name_number").val();
$.ajax({
          type: "POST",
          dataType: 'json',
          async: true,
          cache: false,
          url: "/search_fiche/",
          data:{'fiche_term':fiche_term},
          success: function(f){
          var xyz = f.search_list;
          var kk = 0;
          var pqr = "";
          $.each(xyz, function (index, value) {
          if(kk%2 == 0){
          pqr = value;
          }
          else
          {
          pqr = pqr + " " + value;
          $('#fiche_search').append($("<option></option>").attr("value",pqr).text(pqr));
          };
          kk+=1;
          })
        },
    });
})
})
</script>
{% endblock %}

