{% extends "base_apps.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Nexxt-Change Intimation Logs{% endblock%}

{% block page_content %}

<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Nexxt-Change Intimation Logs</title>

<div style="margin-top:2%;">
<table id="nexxt_intimation_logs_table" data-toggle="table" data-url="{{ url_for('main.nexxt_intimation_logs_data') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-page-size="10" data-show-refresh="true" data-show-export="true">
    <thead>
        <tr>
            <th data-field="Chiffre">Chiffre</th>
            <th data-field="Fiche_Number">Fiche_Number</th>
            <th data-field="date">date</th>
        </tr>
    </thead>
</table></div>

{% endblock %}