<ul class="message-popup-list">
    <li> 
        <a href="user.html" class="user-thumb"><img src="static/images/obama.jpg" /></a>
        <div class="popup-messages">
            <div class="popup-message-item">Hello</div>
        </div>   
    </li>
</ul>
<form class="reply-form" action="/send_reply" method="post" >
    <input type="hidden" name="replyTo" value="{{replyTo}}">
    <input type="hidden" name="conversationId" value="{{conversationId}}">
    <div class="form-group">
        <textarea placeholder="Message body" name="replyToMessage" class="form-control" id="reply-body" rows="5"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-default" id="postReply" type="button">Reply</button>
    </div>
</form>