{% if origin == 'manual_company' %}
{% extends "manual_company.html" %}
{% elif origin == 'smart_buyer_matching' %}
{% extends "smart_buyer_matching.html" %}
{% elif origin == 'buyer_portal' %}
{% extends "buyer_portal.html" %}
{% elif origin == 'home' %}
{% extends "base_apps.html" %}
{% endif %}
{#% extends "buyer_portal.html" %#}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Preference{% endblock%}

{% block page_content %}

<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<title>Preference</title>

{% if all_data == "yes" %}
<div style="margin-top:2%;">
<a href="/preference/?all_data=no"><button id="add" class="w3-btn w3-border" style="font-size:12px">ADD</button></a>
<table id="kisuche_table" data-toggle="table" data-url="{{ url_for('main.preference_data') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-page-size="10" data-show-refresh="true" data-show-export="true">
    <thead>
        <tr>
            <th data-field="Id" data-formatter="LinkFormatter">Id</th>
            <th data-field="column_name">Column Name</th>
            <th data-field="value">Value</th>
        </tr>
    </thead>
</table>
</div>

<style>
    .fixed-table-body {
    height: 51%;
    }
</style>
<script type="text/javascript">
    function LinkFormatter(Id) {
    final = "<a href=/preference/{{origin}}?all_data=no&Id="+Id+"&current_data=yes>"+Id+"</a>";
    return final;
    }
    $(document).ready(function(){
    var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#add").css('background-color',btn_background);
   $("#add").css('color',btn_text);
    })

</script>
{% else %}
<div style="margin-top:2%">
<b>ADD PREFERENCE</b><br><br>
{{ wtf.quick_form(form) }}
 </div>
{% if current_data == "yes" %}
<script type=text/javascript>
    $(document).ready(function(){
    var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#submit").css('background-color',btn_background);
   $("#submit").css('color',btn_text);
    $("#column_name").val("{{preference_browse.column_name}}");
    $("#value").val("{{preference_browse.value}}");
    $("#Id").val("{{preference_browse.Id}}");
    })
</script>
{% endif %}
<script type=text/javascript>
    $(document).ready(function(){
    var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
   $("#submit").css('background-color',btn_background);
   $("#submit").css('color',btn_text);
   $("#submit").attr({'class':'w3-btn w3-border w3-small'});
    $("form").submit(function(){
    $("form").append("<input type='text' value='issubmit' name='sub' style='display:none'/>");
    return true;
    })
    })
</script>
{% endif %}
{% endblock %}