{% extends "smart_buyer_matching.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<head>
    <script type="text/javascript">
        function german_format(num){
                 var k="";
            if (!num){
            num=0;
            }
            var a=num.toString();
            if (a.indexOf(".") != -1){
            var k = a.slice(a.indexOf(".")+1,a.indexOf(".")+4);
            var a = a.slice(0,a.indexOf("."));
            }
            var i=a.length;
            var b="";
            var c=0;
            while(i--){
            if(c%3==0 && c != 0){
            b=b+".";
            }
            c=parseFloat(c)+1;
            b=b+a.charAt(i);
            }
            final_ans = b.split("").reverse().join("");
           // alert(final_ans);
            return final_ans;
  }
  $(document).ready(function(){
  $("#total_keywords").val(german_format("{{keywords}}"));
  })
    </script>
    <style type="text/css">
        body{line-height: 1.6em;}
        h1{margin-left: 10px; color: maroon;border-bottom: 1px solid gray;}
        h2{margin-left: 20px; color: maroon;}
        p {margin-left: 20px; margin-right: 20px; }
        table{margin-left: 20px; margin-right: 20px; border: thin solid black;}
        td, th {padding: 5px; border: 1px solid black}
        .success {
   // border-radius: 0 15px 15px 0;
    border: 0.2px solid grey;
    border: 0.2px solid grey;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 0.5%;
    margin-top: -1.5%;
    margin-bottom: 2%;
    height: 5%;
    width: auto;
     //background-size: cover;
    // max-width: 100em;
    }
    .success1 {
   // border-radius: 0 15px 15px 0;
    border: 0.2px solid grey;
    border: 0.2px solid grey;
    padding: 2px 15px;
    margin-left: 0.3%;
    font-size: 12px;
    margin-top: 0.2%;
    margin-bottom: 0.3%;
    width: auto;
    height: 3%;
    width: auto%;

    }
    #selectedaidsBody {
    width:100%;
    min-width:13%;
    float:left;
    font-size: 12px;
    margin-bottom:20px;
    max-height:125px;
    overflow:hidden;
     }
     b, strong {
    font-weight: 600;
    color: rgb( 123, 30,43,0.7);
    }
    </style>
</head>
<h3 style="font-size: 20px; margin-left: 18px"><b style="color:black">KEYWORD ANALYSIS - RESULTS</b></h3>
<p style="font-size: 12px; color: black">Your selected companies websites contain the following keywords. Mark the keywords you consider relevant and sufficiently differentiating for the matching process. Unspecific keywords (e.g. sales, trade,  service) return a very large number of firms,  many of them far from your clients´ business and not fitting. Too few and too narrow keywords may lead to incomplete or deficient results, missing firms which are in your clients´ business but could not be found due to lack of keywords. <u> Choose at least one keyword.</u>
</p>
<body>
    <table class="w3-table-all" hidden>
             <tr class="w3-hover-green aiddisplay">
                <th style="border:solid 2px;width:25%;padding-left:1%;">AID</th>
                <th style="border:solid 2px;width:25%;padding-left:1%;">strasse</th>
                <th style="border:solid 2px;width:25%;">PLZ- ort</th>
                <th style="border:solid 2px;padding-left:1%;width:25%;">County</th>
                <th style="border:solid 2px;padding-left:1%;width:25%;">State</th>
                <th style="border:solid 2px;padding-left:1%;width:25%;">Country</th>
                <th style="border:solid 2px;width:25%;">Website</th>
                <th style="border:solid 2px;padding-left:1%;width:25%;">Hauptbranche  Nebenbranchen</th>
                <th style="border:solid 2px;width:25%;">T&aumltigkeit </th>

              </tr>

            {% for each in allrecords %}
              <tr class="w3-hover-blue" >
                <td style="border:solid 2px;width:25%;padding-left:5%;overflow:hidden " height="50">{{ allrecords[each][0] }} - {{ allrecords[each][1] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][6] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][7] }} -{{ allrecords[each][8] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][9] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][10] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][11] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][12] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][3] }}-{{ allrecords[each][4] }}</td>
                <td style="border:solid 2px;width:25%;padding-left:1%;overflow:hidden" height="50">{{ allrecords[each][2] }}</td>
              </tr>
             {% endfor %}

    </table>

        <h2 hidden><p>main AID: {{AID}}- {{name}} </p><br></h2>
    <div id="selectedaidsBody">
         <label style="margin-left:1.5%;" hidden>Selected Words :</label>

         <div id="selectedaid" style="margin-left: 18px;"  ></div>

    </div>
    <br>
    <a href="#" id="seemore" hidden style="font-size: 12px;margin-left:1.5%" >See More...</a>
    <p style="font-size: 12px;margin-left:81%" id="selectedwrdtxt" hidden><b >Selected:</b> <b><span id="remainingword"></span></b> out of<b> 250</b></p>
    <div class="col-sm-12" style="font-size: 12px;padding-left: 0px;">
    <div class="col-sm-9" style="font-size: 12px;padding-left: 0px;">
      <p style="font-size: 12px; color: black;"><b style="color:black">Website Analysis</b>. Total keywords found: <b id="total_keywords" style="color:black">{{keywords}}</b><br>
        <h5 style="font-size: 12px;margin-left:2%; color: black">Click on a keyword to select it &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="unchkall" show>Unselect all keywords</button></a></h5></p>

        <br>
    </div>
    <div class="col-sm-3">
        <form action="{{ url_for('main.ki_suche') }}" id="frm" method="post" >
             <a id="chkbox"><button id="chkbox_btn" style="font-size: 12px;    margin-left: 25%;">PREPARE MATCHING PROCESS</button></a>
        </form>
    </div>
    </div>
    <div class="col-sm-12 container"  style="font-size: 12px;border=1px solid black">

      <div id="allaid"  ></div>

    </div>
     <div class="col-sm-12">
         <a href="#" style="font-size: 12px;margin-left:5%;" id="prvbtn" hidden>Previous</a>
          <a href="#" style="font-size: 12px;margin-left:75%;    padding: 5px;padding-left: 10px;padding-right: 10px;" id="nxtbtn">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;</a>
    </div>

</body>
<script type="text/javascript">
  $(document).ready(function(){
  startvalue=0;
  endvalue=250;
  wordlist=[];


   {% for each in new_webinhalt %}
       if (parseInt({{each}})>parseInt(startvalue) &&  parseInt({{each}})<=parseInt(endvalue))
                {
                $("#allaid").append("<div class='success col-sm-2' id='{{new_webinhalt[each][0]}}"+"rs"+"'><span  class='clr' > {{each}}</span><p style='float:left;font-family: Calibri;color:black;' onclick='select_company(this)' id='{{new_webinhalt[each][0]}}'><a class='pgtext' color='grey' > </a><strong><a href='#' data-toggle='tooltip' data-placement='top' style='font-family: Calibri;color:black; margin-left: -15px;margin-right: -20px; margin-bottom: -3px; font-size: 15px' > {{new_webinhalt[each][0]}}<span style='font-family: Calibri;font-size: 12px;color: grey;' class='clr'> ({{new_webinhalt[each][1]}})</div>");
                }
   {% endfor %}
                if(startvalue==0)
                {
                    $("#prvbtn").hide();
                    $("#nxtbtn").show();


                }
                else{
                $("#prvbtn").show();
                $("#nxtbtn").css("margin-left","65%");
                }
                if(endvalue>parseInt("{{keywords }}"))
                {
                     $("#nxtbtn").hide();
                      $("#prvbtn").show();
                      $("#nxtbtn").css("margin-left","65%");
                }
                else{
                $("#nxtbtn").show();
                }

     var btn_background = "{{ btn_background }}";
     var btn_text = "{{ btn_text}}";
     $("#chkbox_btn,#selectall_btn,#unchkall,#nxtbtn,#prvbtn").css('background-color',btn_background);
     $("#chkbox_btn,#selectall_btn,#unchkall,#nxtbtn,#prvbtn").css('color',btn_text);
     $("#chkbox_btn,#selectall_btn,#unchkall,#nxtbtn,#prvbtn").attr({'class':'w3-btn w3-border w3-small'});
     $('tr').not(".aiddisplay").each(function (index, value) {
      var word = $(this).children("th").next().html();
      if(word!="Wort"){
      var a = "<input type='checkbox' value='"+word+"' "+"name="+word+"' class='chkboxword'>&nbsp;"+word;
      $(this).children("th").next().html(a);
      }
    });
    $("#nxtbtn").click(function(){
    startvalue=startvalue;
    endvalue=endvalue;//parseInt("{{endvalue}}");
    totalkeywords=parseInt("{{keywords}}");
    var select_final = "/KI_Suche_data_change/?startvalue="+startvalue+"&endvalue="+endvalue+"&totalrecords="+totalkeywords+"&btn="+"nextbtn";
     $.ajax({
          type: "POST",
          dataType: 'json',
          async: false,
          cache: false,
          url: select_final,
          data:{
          'startvalue':startvalue,
          'endvalue':endvalue,
          'totalrecords':totalkeywords
          },
          success: function(e)
          {
              $("#allaid").html("");
              startvalue=e.startvalue;
              endvalue=e.endvalue;

              {% for each in new_webinhalt %}
               if (parseInt({{each}})>parseInt(startvalue) &&  parseInt({{each}})<=parseInt(endvalue))
                {
                    $("#allaid").append("<div class='success col-sm-2'  id='{{new_webinhalt[each][0]}}"+"rs"+"'><span class='clr' style='float:left;padding-right:3%;font-size: 15px;'> {{each}}</span><p style='float:left;font-family: Calibri;color:black;' onclick='select_company(this)' id='{{new_webinhalt[each][0]}}'><a class='pgtext' color='grey' >&nbsp;  </a><strong><a href='#' data-toggle='tooltip' data-placement='top' style='font-family: Calibri;color:black;margin-left: -15px;margin-right: -20px;font-size: 15px' > {{new_webinhalt[each][0]}}<span style='font-family: Calibri;font-size: 12px;color: grey;' class='clr'> ({{new_webinhalt[each][1]}})</span></a></strong>  &nbsp;&nbsp; </p>&nbsp;&nbsp; </div>");
                }
             {% endfor %}
              if(startvalue==0)
                {
                    $("#prvbtn").hide();
                    $("#nxtbtn").show();
                }
                else{
                $("#prvbtn").show();
                $("#nxtbtn").css("margin-left","65%");
                }
                if(endvalue>parseInt("{{keywords }}"))
                {
                     $("#nxtbtn").hide();
                      $("#prvbtn").show();
                      $("#nxtbtn").css("margin-left","65%");
                }
                else{
                $("#nxtbtn").show();
                }
          }
    });

    for (i=0;i<wordlist.length;i++)
    {
   // $("#"+wordlist[i]+"rs").hide();
    $("#"+wordlist[i]).parent().css("border","0.5px solid #a2616a");
  // $("#"+wordlist[i]).parent().css("background-color","#a2616a");
  $("#"+wordlist[i]).parent().css("background-color","#9E9E9E");

    }
    });
    $("#prvbtn").click(function(){
     startvalue=startvalue;
    endvalue=endvalue;//parseInt("{{endvalue}}");
    totalkeywords=parseInt("{{keywords}}");
    var select_final = "/KI_Suche_data_change/?startvalue="+startvalue+"&endvalue="+endvalue+"&totalrecords="+totalkeywords+"&btn="+"previousbtn";
     $.ajax({
          type: "POST",
          dataType: 'json',
          async: false,
          cache: false,
          url: select_final,
          data:{
          'startvalue':startvalue,
          'endvalue':endvalue,
          'totalrecords':totalkeywords
          },
          success: function(e)
          {
              $("#allaid").html("");
              startvalue=e.startvalue;
              endvalue=e.endvalue;

              {% for each in new_webinhalt %}
               if (parseInt({{each}})>parseInt(startvalue) &&  parseInt({{each}})<=parseInt(endvalue))
                {
                $("#allaid").append("<div class='success col-sm-2' id='{{new_webinhalt[each][0]}}"+"rs"+"'><span style='float:left;padding-right:3%;font-size: 12px;'  class='clr'> {{each}}</span><p style='float:left;font-family: Calibri;color:black;' onclick='select_company(this)' id='{{new_webinhalt[each][0]}}'><a class='pgtext' color='grey' >&nbsp;  </a><strong><a href='#' data-toggle='tooltip' data-placement='top' style='font-family: Calibri;color:black;margin-left: -15px;margin-right: -20px;font-size: 15px' > {{new_webinhalt[each][0]}} <span style='font-family: Calibri;font-size: 12px;' class='clr'>({{new_webinhalt[each][1]}})</span></a></strong>  &nbsp;&nbsp; </p>&nbsp;&nbsp; </div>");
                }
             {% endfor %}
              if(startvalue==0)
                {
                    $("#prvbtn").hide();
                    $("#nxtbtn").show();
                }
                else{
                $("#prvbtn").show();
                $("#nxtbtn").css("margin-left","65%");
                }
                if(endvalue>parseInt("{{keywords }}"))
                {
                     $("#nxtbtn").hide();
                      $("#prvbtn").show();
                      $("#nxtbtn").css("margin-left","65%");
                }
                else{
                $("#nxtbtn").show();
                }
          }
    });
    for (i=0;i<wordlist.length;i++)
    {
   // $("#"+wordlist[i]+"rs").hide();
     $("#"+wordlist[i]).parent().css("border","0.5px solid #a2616a");
  // $("#"+wordlist[i]).parent().css("background-color","#a2616a");
   $("#"+wordlist[i]).parent().css("background-color","#9E9E9E");

    }



    });
    $("#chkbox").click( function(){
    autofill_aid = $("h2").first().text().split("-")[0].split(":")[1].replace(" ","");
    autofill_aid="{{AID}}";
    encryp_aid='';


                         $.ajax({
                  type: "GET",
                  dataType: 'json',
                  async: false,
                  cache: false,
                  url: "/encrypt_aid/",
                  data:{ aid:autofill_aid
                  },
                  success: function(e){
                  encryp_aid=e.cipher_text
                                      }
            });
    autofill_name="{{name}}";
    var selecteditems = "";
    for ( k=0;k<wordlist.length;k++)
    {
    selecteditems=selecteditems+wordlist[k]+" ";
    }
    if(selecteditems.length > 0){
   var select_final = "/001/012/?autofill_val="+selecteditems+"&autofill_aid="+encryp_aid+"&autofill_name="+autofill_name+"&method_details="+"accurate";
   $("#chkbox").attr("href",select_final);
    $('#frm').attr('action', select_final);

 //  $.post("{{ url_for('main.ki_suche') }}", {'autofill_val': selecteditems, 'autofill_aid': autofill_aid,'autofill_name':autofill_name,'method_details':'accurate'});
    }
    else{
    alert("No words selected. Select the words");
    return false;
    }
    })




  $("#selectall").click(function(){
  $(".chkboxword").prop('checked',true);
  })
  $("#unchkall").click(function(){
  $(".chkboxword").prop('checked',false);
  $("#selectedaid").html("");
  for (i=0;i<wordlist.length;i++){

      $("#"+String(wordlist[i])).parent().show();
      $("#"+String(wordlist[i])).parent().css("border","0.2px solid grey");
      $("#"+String(wordlist[i])).parent().css("background-color","white");
      $("#"+String(wordlist[i]) + " .clr").css("color","grey");
      $("#"+String(wordlist[i]) + "rs .clr").css("color","grey");
      $(".clr").css("color","grey");
      countaid=countaid-1;
      $("#remainingword").html(countaid);

      if(countaid==0){
        $("#selectedwrdtxt").hide();
       }
  }
  wordlist=[];
  })
  })

$("#seemore").click(function(){
$("#selectedaidsBody").css("max-height","999%");
$("#seemore").hide();



})
countaid=0
function select_company(word)
{
   if(countaid<250)
   {

    if(wordlist.indexOf(String(word.id))>-1)
    {
    debugger;
       wordlist.sort();
     //  wordlist.pop(String(word.id));
       var index = wordlist.indexOf(String(word.id));
            if (index > -1) {
                wordlist.splice(index, 1);
        }
      $("#"+word.id).parent().css("border","0.2px solid grey");
     $("#"+word.id).parent().css("background-color","white");
      $("#"+word.id+"rs2").parent().remove();
       countaid=countaid-1;
      $("#remainingword").html(countaid);
      $(".clr").css("color","grey");
      $("#"+word.id + " .clr").css("color","grey");
       $("#"+word.id + "rs .clr").css("color","grey");
    }
    else
    {
      debugger;
      $("#"+word.id).parent().css("border","0.2px solid #a2616a");
      $("#"+word.id).parent().css("background-color","#9E9E9E");
     // $("#"+word.id).parent().css("background-color","#a2616a");
      wordlist.push(String(word.id));
      wordlist.sort();
      $("#selectedwrdtxt").show();
      $("label").show();
      $("#selectedaid").html("");
      //$("#selectedaid").append("<div class='success1 col-sm-2' ><a onclick='remove_company(this)' class='pgtextssss' id="+word.id+"rs2"+" color='grey'><span style='float:left;padding-right:3%;color:grey;'><i class='fa fa-times w3-large' style='height:5%;'></i></span></a><p style='float:left;font-family: Calibri;color:black;'><a onclick='id_Page(this)' class='pgtext' color='grey'>  </a><strong><a href='#' data-toggle='tooltip' data-placement='top' onclick='id_Page(this)' class='pgtext' style='font-family: Calibri;color:black;margin-left: -15px;margin-right: -20px;' id='pgno'  title='"+word.id+"'>"+word.id+"</a></strong>  &nbsp;&nbspsiers2; </p>&nbsp;&nbsp; </div>");

      for (i=0;i<wordlist.length;i++){

         $("#selectedaid").append("<div class='success1 col-sm-2' ><a onclick='remove_company(this)' class='pgtextssss' id="+wordlist[i]+"rs2"+" color='grey'><span style='float:left;padding-right:3%;color:grey;'><i class='fa fa-times w3-large' style='height:5%;'></i></span></a><p style='float:left;font-family: Calibri;color:black;'><a  class='pgtext' color='grey'>  </a><strong><a  data-toggle='tooltip' data-placement='top' onclick='id_Page(this)' class='pgtext' style='font-family: Calibri;color:black;margin-left: -15px;margin-right: -20px; ; ' id='#"+wordlist[i]+"clk' href='#"+wordlist[i]+"' title='"+wordlist[i]+"'>"+wordlist[i]+"</a></strong> </p> </div>");
      }
      countaid=countaid+1;
      $("#remainingword").html(countaid);

      $("#"+word.id + " .clr").css("color","#e0dede");
       $("#"+word.id + "rs .clr").css("color","#e0dede");
        $('#'+wordlist[i]+"clk").click();

    }


       if(countaid==15)
       {
          $("#seemore").show();
       }

   }
   if(parseInt(word.previousSibling.innerText)>(startvalue+175))
   {
   var $target = $('html,body');
   $target.animate({scrollTop: $target.height()+1250}, 10);
  }
  else if(parseInt(word.previousSibling.innerText)>(startvalue+70))
   {
   var $target = $('html,body');
   $target.animate({scrollTop: $target.height()}, 10);
  }
  else{
   var $target = $('html,body');
   $target.animate({scrollTop: $target.height()-950}, 10);
  }
}
function id_Page ( txt)
{
 debugger;
 }
function remove_company(word)
{

 wordlist.sort();
 $("#"+word.id).parent().remove();
 singleword=word.id
 singleword=singleword.replace("rs2","");
 //wordlist.pop(singleword);
 var index = wordlist.indexOf(String(singleword));
            if (index > -1) {
                wordlist.splice(index, 1);
        }

 $("#"+singleword).parent().show();
 $("#"+singleword).parent().css("border","0.2px solid grey");
 $("#"+singleword).parent().css("background-color","white");
 $("#"+singleword + " .clr").css("color","grey");
       $("#"+singleword + "rs .clr").css("color","grey");
 $(".clr").css("color","grey");
   countaid=countaid-1;
  $("#remainingword").html(countaid);
 if(countaid==0)
 {
  $("#selectedwrdtxt").hide();
  }

}
</script>
{% endblock %}
