{% extends "smart_buyer_matching.html" %}

{% block title %}AVANDIL{% endblock %}

{% block content %}


<head> 
    <style type="text/css">
        table{margin-left: 20px; margin-right: 20px; border: thin solid black;}
        td, th {padding: 5px; border: 1px solid black}
    </style>
</head>
<body>
    <table>
        <tr>
         <th>&ensp;Nr.</th>
         <th>&ensp;Stopwort</th>
         <th>&ensp;Anzahl</th>
        </tr>
        {% for item in items %}
            <tr>
               <td>&ensp;{{item[0]}}</td>
               <td>&ensp;{{item[1]}}</td>
               <td>&ensp;{{item[2]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
