<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript">



  function afterSetExtremes(e) {
    var chart = Highcharts.charts[0];
    Aussentemperatursplit = Aussentemperatur.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    Einspeisungsplit = Einspeisung.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    Eigennutzungsplit = Eigennutzung.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    Netzbezugsplit = Netzbezug.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    $.getJSON(Aussentemperatursplit, function (data1) {
      $.getJSON(Einspeisungsplit, function (data2) {
          $.getJSON(Eigennutzungsplit, function (data3) {
              $.getJSON(Netzbezugsplit, function (data4) {
        chart.series[0].setData(data1);
        chart.series[1].setData(data2);
        chart.series[2].setData(data3);
        chart.series[3].setData(data4);
    });
    });
    });
    });
}
var Aussentemperatur = "{{Aussentemperatur | safe}}";
var Einspeisung = "{{Einspeisung | safe}}";
var Eigennutzung = "{{Eigennutzung | safe}}";
var Netzbezug = "{{Netzbezug | safe}}";
// See source code from the JSONP handler at https://github.com/highcharts/highcharts/blob/master/samples/data/from-sql.php
$.getJSON(Aussentemperatur, function (Aussentemperaturdata) {
  $.getJSON(Einspeisung, function (Einspeisungdata) {
  $.getJSON(Eigennutzung, function (Eigennutzungdata) {
  $.getJSON(Netzbezug, function (Netzbezugdata) {

    // Add a null value for the end date
   // Netzbezugdata = [].concat(Netzbezugdata, [[Date.UTC(2011, 9, 14, 19, 59), null]]);
   // Eigennutzungdata = [].concat(Eigennutzungdata, [[Date.UTC(2011, 9, 14, 19, 59), null]]);
  //  Einspeisungdata = [].concat(Einspeisungdata, [[Date.UTC(2011, 9, 14, 19, 59), null]]);
  //  Aussentemperaturdata = [].concat(Aussentemperaturdata, [[Date.UTC(2011, 9, 14, 19, 59), null]]);
    // create the chart
    color_list = {{color_list|tojson}};
    x_val_list = {{x_val_list|tojson}};
    graph_type = {{graph_type|tojson}};
    Highcharts.stockChart('container', {
        chart: {
            type: 'column',
            zoomType: 'x'
        },

        navigator: {
            adaptToUpdatedData: true,
            series: {
                data: Aussentemperaturdata
            }
        },

        scrollbar: {
            liveRedraw: true
        },

        title: {
            text: 'Monthly Average Temperature'
        },

        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        plotOptions: {
        column: {
            stacking: 'normal',
            }
            },
        rangeSelector: {
            buttons: [ {
                type: 'day',
                count: 1,
                text: '  Day  '
            }, {
                type: 'week',
                count: 14,
                text: '  Week  '
            }, {
                type: 'month',
                count: 15,
                text: '  Month  '
            } ,{
                type: 'year',
                count: 0,
                text: '  Year  '
            }, {
                type: 'all',
                text: '  All  '
            }],
            allButtonsEnabled: true,
            inputEnabled: true, // it supports only days
            selected: 4 // all
        },

        xAxis: {
            events: {
                afterSetExtremes: afterSetExtremes
            },
            minRange: 3600 * 1000*24,
             // one day
             opposite: false,
            title: {
            text: "{{x_axis_text}}",
            align: "middle",
            textAlign:"center",
            },
        },

        tooltip: {
            valueSuffix: "{{valueSuffix}}",
            valueDecimals:parseInt("{{valueDecimals}}")
            },

        yAxis: {
            opposite: false,
            title: {
            text: "{{y_axis_text}}",
            align:"middle",
            },
        },

        legend :{
               layout: 'horizontal',
               align: 'center',
               verticalAlign: 'bottom',
               borderWidth: 0,
                x: 10,
                y: 10,
                enabled:true
            },

        series: [{
             name:x_val_list[3],
             type:graph_type[3],
            data: Aussentemperaturdata,
            color: color_list[0],
            dataGrouping: {
                enabled: true
            }
        },{
            name:x_val_list[2],
            type: graph_type[2],
            data: Einspeisungdata,
            color: color_list[1],
            dataGrouping: {
                enabled: true
            }
        },{
            name:x_val_list[1],
            type: graph_type[1],
            color: color_list[2],
            data: Eigennutzungdata,
            dataGrouping: {
                enabled: true
            }
        },{
            data: Netzbezugdata,
            color: color_list[3],
            type: graph_type[0],
            name:x_val_list[0],
            dataGrouping: {
                enabled: true
            }
        }]
    });
});
});
});
});

</script>

<body>
<div id="container" style="padding: 0.5%;border: 1px solid;height: 600px; min-width: 310px"></div>
</body>
</html>