<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<div id="graphs"></div>
 <!--div id="graph0" style="padding: 0.5%;border: 1px solid;height: 600px; min-width: 310px"></div>
    <br><br>
<div id="graph1" style="padding: 0.5%;border: 1px solid;height: 600px; min-width: 310px"></div-->
</div><br><br><br>

<script type="text/javascript">
{% for each in graph_list %}
    var n="{{loop.index}}";
    var series_new=[];
    var len={{each|tojson}}.length;
    element_list={{each|tojson}};
    var no_of_element=element_list.length;
    color_list=element_list[0];
    graph_type=element_list[2];
    x_val_list=element_list[8];
    url_respon_list=element_list[1];
    no_of_url_respon=url_respon_list.length;
    for(j=0;j<no_of_url_respon;j++)
        {
              new_series={
              data:url_respon_list[j],
              name: x_val_list[j],
              color:color_list[j],
              dataGrouping:
                {
                    enabled: true
                },
               type:graph_type[j]
               };
              series_new.push(new_series);
        }
    var k=0;

    graph_id="graph"+n.toString();
    graph_place="<div id='"+graph_id+"' style='padding: 0.5%;border: 1px solid;height: 600px; min-width: 310px'></div><br>";
    $(graph_place).appendTo("#graphs");

    Highcharts.stockChart(graph_id, {
        chart: {
            type: 'column',
            zoomType: 'x'
        },

        navigator: {
            adaptToUpdatedData: true
        },

        scrollbar: {
            liveRedraw: true
        },

        title: {
            text: element_list[14]
        },

        subtitle: {
            text: ''
        },
        plotOptions: {
        column: {
            stacking: 'normal',
            }
            },
        rangeSelector: {
           // selected:0,
            buttons: [ {
                type: 'month',
                count: 1,
                text: 'Day',
                dataGrouping: {
                    forced: true,
                    units: [['day', [1]]]
                }
            }, {
                type: 'year',
                count: 1,
                text: 'Week',
                dataGrouping: {
                    forced: true,
                    units: [['week', [1]]]
                }
            }, {
                type: 'year',
                text: 'Month',
                dataGrouping: {
                    forced: true,
                    units: [['month', [1]]]
                }
            } ,{
                type: 'year',
                text: 'Year',
                dataGrouping: {
                    forced: true,
                    units: [['year', [1]]]
                }
            },{
                type: 'all',
                count: 4,
                text: 'all',
                dataGrouping: {
                    forced: true,
                    units: [['day', [1]]]
                }
            }],
            allButtonsEnabled: true,
            inputEnabled: true, // it supports only days
            selected: 4 // all
        },

        xAxis: {

            minRange: 3600 * 1000*24,
             // one day
             opposite: false,
            title: {
            text: element_list[9],
            align: "middle",
            textAlign:"center",
            },
        },

        tooltip: {
            valueSuffix: element_list[3],
            valueDecimals:parseInt(element_list[4])
            },

        yAxis: {
            opposite: false,
            title: {
            text: element_list[10],
            align:"middle",
            },
        },

        legend :{
               layout: 'horizontal',
               align: 'center',
               verticalAlign: 'bottom',
               borderWidth: 0,
                x: 10,
                y: 10,
                enabled:true
            },

        series:series_new

    });
{% endfor %}

</script>

<body>



</body>
</html>