<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript">



  function afterSetExtremes(e) {
    /*var chart = Highcharts.charts[0];
    Aussentemperatursplit = Aussentemperatur.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    Einspeisungsplit = Einspeisung.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    Eigennutzungsplit = Eigennutzung.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    Netzbezugsplit = Netzbezug.split("&callback=?")[0]+'&start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?';
    $.getJSON(Aussentemperatursplit, function (data1) {
      $.getJSON(Einspeisungsplit, function (data2) {
          $.getJSON(Eigennutzungsplit, function (data3) {
              $.getJSON(Netzbezugsplit, function (data4) {
        chart.series[0].setData(data1);
        chart.series[1].setData(data2);
        chart.series[2].setData(data3);
        chart.series[3].setData(data4);
    });
    });
    });
    });*/
}

var chart;
var len={{url_length}};
var bindu=[];

color_list = {{color_list|tojson}};
x_val_list = {{x_val_list|tojson}};
graph_type = {{graph_type|tojson}};


var urll={{url_list|tojson}};
var url=[];

for (i = 0; i < {{url_length}}; i++){
var tmp=urll[i];
url.push(tmp);
get_something(tmp);
}

series_new=[];
var new_series;
var i=0;
function get_something(temp1){

    $.getJSON(temp1, function(json_data){
      var new_series={
          data:json_data,
          name: x_val_list[i],
          color:color_list[i],
          dataGrouping: {
                enabled: true
            },
            type:graph_type[i]
            };
            debugger;
            series_new.push(new_series);
            i++;
    });
}


  $.getJSON(url[url.length-1], function (Netzbezugdata) {

    /*color_list = {{color_list|tojson}};
    x_val_list = {{x_val_list|tojson}};
    graph_type = {{graph_type|tojson}};*/

 Highcharts.stockChart('container', {
        chart: {
            type: 'column',
            zoomType: 'x'
        },



        navigator: {
            adaptToUpdatedData: true
        },

        scrollbar: {
            liveRedraw: true
        },

        title: {
            text: 'Monthly Average Temperature'
        },

        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        plotOptions: {
        column: {
            stacking: 'normal',
            }
            },
        rangeSelector: {
            buttons: [ {
                type: 'day',
                count: 1,
                text: '  Day  '
            }, {
                type: 'week',
                count: 14,
                text: '  Week  '
            }, {
                type: 'month',
                count: 15,
                text: '  Month  '
            } ,{
                type: 'year',
                count: 0,
                text: '  Year  '
            }, {
                type: 'all',
                text: '  All  '
            }],
            allButtonsEnabled: true,
            inputEnabled: true, // it supports only days
            selected: 4 // all
        },

        xAxis: {
            events: {
                afterSetExtremes: afterSetExtremes
            },
            minRange: 3600 * 1000*24,
             // one day
             opposite: false,
            title: {
            text: "{{x_axis_text}}",
            align: "middle",
            textAlign:"center",
            },
        },

        tooltip: {
            valueSuffix: "{{valueSuffix}}",
            valueDecimals:parseInt("{{valueDecimals}}")
            },

        yAxis: {
            opposite: false,
            title: {
            text: "{{y_axis_text}}",
            align:"middle",
            },
        },

        legend :{
               layout: 'horizontal',
               align: 'center',
               verticalAlign: 'bottom',
               borderWidth: 0,
                x: 10,
                y: 10,
                enabled:true
            },

        series:series_new

    });
});



</script>

<body>
<div id="container" style="padding: 0.5%;border: 1px solid;height: 600px; min-width: 310px"></div>
</body>
</html>