<html>
   <body>
      <br></br>
      <br></br>
      <br></br>
      <form action = {{ip_adresse}} method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
   </body>
</html>