{% extends "base_apps.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}avkis-Web - Preference{% endblock%}

{% block page_content %}

<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-ui.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-export.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-table-toolbar.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/tableExport.js') }}"> </script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jspdf.plugin.autotable.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-table.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
{% if all_data == "yes" %}
   <a href="/auth/register"><button id="add">ADD</button></a>
    <table id="user_list_table" data-toggle="table" data-url="{{ url_for('auth.user_list_data') }}"
       data-side-pagination="server" data-pagination="true" data-page-list="[ 50, 100, 200,500]"
       data-page-size="10" data-show-refresh="true" data-show-export="true">
    <thead>
        <tr>
            <th data-field="id" data-formatter="LinkFormatter">Id</th>
            <th data-field="username">User Name</th>
            <th data-field="email" id="email">E-Mail</th>
            <th data-field="is_admin">Is Admin</th>
            <th data-field="session_logout_time">session_logout_time(min)</th>
            <th data-field="sid" data-formatter="LinkFormatters"></th>
        </tr>
    </thead>
</table>
<script type="text/javascript">
var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
    $("#add").css('background-color',btn_background);
   $("#add").css('color',btn_text);
   $("#add").attr({'class':'w3-btn w3-border w3-large'});
    function LinkFormatter(Id) {
    final = "<a href=/auth/user_list/?all_data=no&Id="+Id+"&current_data=yes>"+Id+"</a>";
    return final;
    }

</script>

<script type="text/javascript">
    function deleteuser(val){

    $.ajax({
          type: "POST",
          dataType: 'json',
          async: false,
          cache: false,
          url: "/auth/deleteuser",
          data:{
          'id':val
          },
          success: function(e){
                              }
    });
    $("#user_list_table").bootstrapTable('refresh');
    }

    function LinkFormatters(sid) {

    final = "<span id='"+sid+"' class='glyphicon glyphicon-remove' onclick='deleteuser(this.id)'/>";
    return final;
    }
</script>
{% else %}
{{ wtf.quick_form(form) }}
<script type=text/javascript>
    $(document).ready(function(){
    var btn_background = "{{ btn_background }}";
   var btn_text = "{{ btn_text}}";
    $("#submit").css('background-color',btn_background);
   $("#submit").css('color',btn_text);
   $("#submit").attr({'class':'w3-btn w3-border w3-large'});
    })
</script>
{% if current_data == "yes" %}
<script type=text/javascript>
    $(document).ready(function(){
    error = "{{error}}";
    if (error){
    alert(error);
    }
    $("#User_name").val("{{user_browse.username}}");
    $("#email").val("{{user_browse.email}}");
    $("#timeout").val("{{user_browse.time_out}}");
    $("#Id").val("{{user_browse.Id}}");
    if ("{{ user_browse.smart_buyer_matching }}" == 1){
    $("#smart_buyer_matching").prop('checked',true);
    }
    if ("{{ user_browse.buyer_portal_search }}" == 1){
    $("#buyer_portal_search").prop('checked',true);
    }
    if ("{{ user_browse.manual_company_search }}" == 1){
    $("#manual_company_search").prop('checked',true);
    }
    if ("{{ user_browse.is_admin }}" == 1){
    $("#is_admin").prop('checked',true);
    }
    })
</script>
{% endif %}
<script type=text/javascript>
    $(document).ready(function(){
    $("form").submit(function(){
    $("form").append("<input type='text' value='issubmit' name='sub' style='display:none'/>");
    return true;
    })
    })
</script>
{% endif %}
{% endblock %}